<h5>{{#ifCond coverage '==' undefined}}Computing Total coverage...{{/ifCond}}
{{#ifCond coverage '!=' undefined}}Total Coverage: {{coverage}}%{{/ifCond}}</h5>
{{!-- Uncomment below for debugging --}}
{{!-- {{#button "identifyCoverage" class="btn btn-primary"}}Debug{{/button}} --}}