<div class="modal fade" id="exportPatientsDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Exporting Patients...</h1>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Exporting...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exportFailedDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Export Failed</h1>
      </div>
      <div class="modal-body">
        An error occurred while exporting patients, please try again.
      </div>
      <div class="modal-footer">
        {{#button "close" class="btn btn-default" data-dismiss="modal"}}Close{{/button}}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exportSucceededDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Export Complete</h1>
      </div>
      <div class="modal-body">
        Your export has completed. Please see the top level results file for an overview of the exported patients, including any errors exporting individual patients.
      </div>
      <div class="modal-footer">
        {{#button "close" class="btn btn-default" data-dismiss="modal"}}Close{{/button}}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exportBankSucceededDialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Export Complete</h1>
      </div>
      <div class="modal-body">
        Your export has completed. Please see the top level results file for an overview of the exported patients, including any errors exporting individual patients.
      </div>
      <div class="modal-footer">
        {{#button "close" class="btn btn-default" data-dismiss="modal"}}Close{{/button}}
      </div>
    </div>
  </div>
</div>
