<table id="patientDashboardTable" class="cell-border" cellspacing="0" width="100%">
  <thead>
    <tr>
      {{#each head1}}
      <th scope="col" style="width: {{lookup ../widths @index}}px;"><div>{{{this}}}</div></th>
      {{/each}}
    </tr
    <tr>
      {{#each head2}}
      <th scope="col">{{{this}}}</th>
      {{/each}}
    </tr>
  </thead>
</table>

<div class="hidden" id="editButton">
  <button class="btn btn-xs btn-primary" data-call-method="makeInlineEditable">
    <i aria-hidden="true" class="fa fa-fw fa-pencil"></i>
    <span class="sr-only">Edit this patient inline</span>
  </button>
</div>
<div class="hidden" id="saveEditButton">
  <button class="btn btn-xs btn-success" data-call-method="saveEdits">
    <i aria-hidden="true" class="fa fa-fw fa-check"></i>
    <span class="sr-only">Save patient edits</span>
  </button>
</div>
<div class="hidden" id="closeEditButton">
  <button class="btn btn-xs btn-danger" data-call-method="cancelEdits">
    <i aria-hidden="true" class="fa fa-fw fa-close"></i>
    <span class="sr-only">Cancel patient edits</span>
  </button>
</div>
<div class="hidden" id="openButton">
  <button class="btn btn-xs btn-default" data-call-method="openEditDialog">Open...</button>
</div>