{{#if done}}
  <input type="text" value="{{percent}}" class="dial" data-readOnly="true" data-width="60" data-height="60" data-thickness=".2" data-fgColor={{#ifCond status '==' 'pass'}}"#468847"{{/ifCond}}{{#ifCond status '==' 'fail'}}"#b94a48"{{/ifCond}} data-inputColor="#444" data-font="Helvetica Neue, Roboto, Helvetica, Arial, sans-serif">
{{else}}
  {{! FIXME: Add a spinner here }}
  <div style="height: 65px;"></div>
{{/if}}
