<span class="sr-only">{{../cms_id}} </span>
<strong>Population:</strong>
{{title}}
{{#button "edit" class="edit-pop pull-right btn btn-default"}}<span class="sr-only">Edit this population title</span>{{/button}}