<div class="form-inline">
  <div>
  <span class="sr-only">{{../cms_id}} </span>
  <strong>Population:</strong>
  </div>
  <div>
    <input type="text" name="title">
  </div>
  <div>
  <span class="pull-right">
  {{#button "save" class="save-pop btn btn-success"}}<span class="sr-only">Save population title</span>{{/button}}
  {{#button "cancel" class="cancel-pop btn btn-danger"}}<span class="sr-only">Cancel population title editing</span>{{/button}}
  </span>
  </div>
</div>
