language: ruby
rvm:
  - "2.4.5"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
services: mongodb
bundler_args: --without test development
script:
  - bundle exec bundle-audit check --update
  - bundle exec brakeman -qAzw1
  - export DISPLAY=:99.0 && bundle exec rake teaspoon
  - bundle exec rake
notifications:
  email:
    recipients:
      - healthcare-ci@googlegroups.com
    on_failure: change
