language: ruby
cache:
  - bundler
  - node_modules
sudo: required
addons:
  chrome: stable
rvm:
  - "2.4.5"
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - export PATH="$HOME/.yarn/bin:$PATH"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - npm install -g coffeelint
  - npm install -g istanbul
  - npm install -g codecov
services: mongodb
bundler_args: --without test development
before_script:
  - git config --global user.email "travis@travis.ci"
  - git config --global user.name "Travis CI"
  - bundle install
  - wget http://chromedriver.storage.googleapis.com/2.44/chromedriver_linux64.zip
  - unzip chromedriver_linux64.zip -d /tmp/chromedriver
  - export PATH=$PATH:/tmp/chromedriver
script:
  - bundle exec rake teaspoon DIR='cqm_specs'
  - bash <(curl -s https://codecov.io/bash) -f ./coverage-frontend/default/lcov.info
  - bundle exec rake teaspoon DIR='helper_specs'
  - bash <(curl -s https://codecov.io/bash) -f ./coverage-frontend/default/lcov.info
  - bundle exec rake teaspoon DIR='integration'
  - bash <(curl -s https://codecov.io/bash) -f ./coverage-frontend/default/lcov.info
  - bundle exec rake teaspoon DIR='models'
  - bash <(curl -s https://codecov.io/bash) -f ./coverage-frontend/default/lcov.info
  - bundle exec rake teaspoon DIR='patient_builder_tests'
  - bash <(curl -s https://codecov.io/bash) -f ./coverage-frontend/default/lcov.info
  - bundle exec rake teaspoon DIR='production_tests'
  - bash <(curl -s https://codecov.io/bash) -f ./coverage-frontend/default/lcov.info
  - bundle exec rake teaspoon DIR='views'
  - bash <(curl -s https://codecov.io/bash) -f ./coverage-frontend/default/lcov.info
  - bundle exec rake teaspoon DIR='javascripts'
  - bash <(curl -s https://codecov.io/bash) -f ./coverage-frontend/default/lcov.info
  - bundle exec brakeman -qAzw1
  - bundle exec bundle-audit check --update
  - bundle exec overcommit --sign
  - bundle exec overcommit --run
  - bundle exec rake test
  - yarn install
  - yarn audit
notifications:
  email:
    recipients:
      - healthcare-ci@googlegroups.com
    on_failure: change
