language: ruby
rvm:
  - "2.0.0"
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
services: mongodb
bundler_args: --without test development
script: export DISPLAY=:99.0 && bundle exec rake teaspoon && bundle exec rake
notifications:
  email:
    recipients:
      - ctohline@mitre.org
      - aholmes@mitre.org
      - mmayer@mitre.org
    on_failure: always
    on_success: always
