<div class="navbar row" role="navigation">
  <a class="navbar-brand" href="/">Bonnie</a>
</div>

<h1>account created</h1>

<p>
  Your account must be approved before you can log in.
  You will recieve an email once your account has been approved.
</p>

<p><%= link_to new_session_path(resource_name) do %>Click here to return to login once your account is approved<% end %>.</p>

