<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Bonnie</h1>
    <p>Your Bonnie account for HARP ID <%= @user.harp_id %> has been activated.
      Please use your HARP credentials to log into <a href="<%= root_url protocol: 'https' %>">Bonnie</a>.</p>
    <p><a href="<%= root_url protocol: 'https' %>"><%= root_url protocol: 'https' %></a></p>
  </body>
</html>
