<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Bonnie</h1>
    <p>Your Bonnie account for email address <%= @user.email %> has been activated.</p>
  </body>
</html>
