<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new user has signed up for a Bonnie account: <%= @user.email %>.</p>
    <p>Please approve this account at <a href="https://<%= @bonnie_host %>/#admin/users">https://<%= @bonnie_host %>/#admin/users</a></p>
  </body>
</html>
