<div class="row integer-input">
  <div class="integer-control-value form-group col-md-12">
    <label for="value_{{cid}}" class="sr-only">decimal</label>
    <input type="number" class="form-control" name="value" id="value_{{cid}}" placeholder="decimal" {{#if value}}value="{{value}}"{{/if}}/>
  </div>
</div>