<div class="row">
  <div class="form-group col-md-12 observation-component-code-view">
    <div class="control-label"><i class="fa fa-chevron-right" aria-hidden="true"></i>code</div>
    <span class="sr-only">Type of component observation (code / type)</span>
    {{view observationComponentCodeView}}
  </div>
  <div class="form-group col-md-12 observation-component-value-view">
    <div class="control-label"><i class="fa fa-chevron-right" aria-hidden="true"></i>value</div>
    <span class="sr-only">Actual component result</span>
    {{view observationComponentValueView}}
  </div>
</div>
