<div class="row ratio-input">
  <div class="ratio-numerator form-group col-md-6">
    <span class="sr-only">numerator quantity</span>
    {{view numeratorView}}
  </div>
  <div class="ratio-colon">:</div>
  <div class="ratio-denominator form-group col-md-6">
    <span class="sr-only">denominator quantity</span>
    {{view denominatorView}}
  </div>
</div>