<div class="row">
  <div class="form-group col-md-12 origin-view">
    <div class="control-label"><i class="fa fa-chevron-right" aria-hidden="true"></i>event</div>
    <span class="sr-only">When the event occurs</span>
    {{view timingEventView}}
  </div>
  <div class="form-group col-md-12 period-view">
    <div class="control-label"><i class="fa fa-chevron-right" aria-hidden="true"></i>repeat</div>
    <span class="sr-only">When the event is to occur</span>
    {{view timingRepeatView}}
  </div>
  <div class="form-group col-md-12 period-view">
    <div class="control-label"><i class="fa fa-chevron-right" aria-hidden="true"></i>code</div>
    <span class="sr-only">When the event is to occur</span>
    {{view timingCodeView}}
  </div>
</div>
