---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: TGT-1670217-O4IpetFZKOUbPmh1jSrrY2e7RxHDYHYMmheS1b96opCF3YuJZj-cas
  recorded_at: Wed, 14 Aug 2019 17:42:16 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/program/CMS%20eCQM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: '{"name":"CMS eCQM","description":"eCQMs use data from electronic health
        records (EHR) and/or health information technology systems to measure health
        care quality. eCQM value sets specify terminology codes required for eCQM
        measurement and are updated by CMS one or more times each year.","release":[{"name":"eCQM
        Update 2019-05-10","releaseDate":20190510},{"name":"eCQM Update 2018-09-17","releaseDate":20180917},{"name":"eCQM
        Update 2018-05-04","releaseDate":20180504},{"name":"eCQM Update 2018 EP-EC
        and EH","releaseDate":20170929},{"name":"eCQM Update 4Q2017 EH","releaseDate":20170915},{"name":"eCQM
        Update 2017-05-05","releaseDate":20170505},{"name":"MU2 Update 2017-01-06","releaseDate":20170106},{"name":"MU2
        Update 2016-04-01","releaseDate":20160401},{"name":"MU2 Update 2015-05-01","releaseDate":20150501},{"name":"MU2
        EP Update 2014-07-01","releaseDate":20140701},{"name":"MU2 EP Update 2014-05-30","releaseDate":20140530},{"name":"MU2
        EH Update 2014-04-01","releaseDate":20140401},{"name":"MU2 EP Update 2013-06-14","releaseDate":20130614},{"name":"MU2
        EH Update 2013-04-01","releaseDate":20130401},{"name":"MU2 Update 2012-12-21","releaseDate":20121221},{"name":"MU2
        Update 2012-10-25","releaseDate":20121025}]}'
  recorded_at: Wed, 14 Aug 2019 17:42:16 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-1670217-O4IpetFZKOUbPmh1jSrrY2e7RxHDYHYMmheS1b96opCF3YuJZj-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: ST-2477466-Tg6GFG9kdDF5h3ICwrau-cas
  recorded_at: Wed, 14 Aug 2019 17:42:17 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.131&release=eCQM%20Update%202019-05-10&ticket=ST-2477482-zpQBVIcDQbYmaQnBnmQG-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113762.1.4.1045.131" displayName="Hemoglobin lab test" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="30313-1" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" codeSystemVersion="2.65" displayName="Hemoglobin [Mass/volume] in Arterial blood"/>
                    <ns0:Concept code="30350-3" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" codeSystemVersion="2.65" displayName="Hemoglobin [Mass/volume] in Venous blood"/>
                    <ns0:Concept code="30351-1" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" codeSystemVersion="2.65" displayName="Hemoglobin [Mass/volume] in Mixed venous blood"/>
                    <ns0:Concept code="718-7" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" codeSystemVersion="2.65" displayName="Hemoglobin [Mass/volume] in Blood"/>
                </ns0:ConceptList>
                <ns0:Source>Yale</ns0:Source>
                <ns0:Purpose>(Clinical Focus: This set of values contains codes for lab tests commonly used to measure hemoglobin done on a source of blood, serum or plasma with a reporting scale of mass/volume. These codes are LOINC codes.),(Data Element Scope: The intent of this data element is to identify patients with a lab test performed on a source of blood, serum or plasma for hemoglobin.  Using the Quality Data Model, this data element maps to the Laboratory, Result or Laboratory, Order datatype.),(Inclusion Criteria: Hemoglobin lab test using the source of blood/serum/plasma with a reporting scale of mass/volume represented using LOINC codes.),(Exclusion Criteria: Do not include any codes or concepts which do not represent hemoglobin as defined in the inclusion criteria.)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2019-08-14</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Wed, 14 Aug 2019 17:42:18 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.526.2.1045&release=eCQM%20Update%202019-05-10&ticket=ST-2477465-dIlnvqtG51fKvSb27jhI-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.134&release=eCQM%20Update%202019-05-10&ticket=ST-2477476-h62XweP7S0PK6pKbl4Iv-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.149&release=eCQM%20Update%202019-05-10&ticket=ST-2477473-3FqoFfR7Vh4Ltaa4SQvx-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.163&release=eCQM%20Update%202019-05-10&ticket=ST-2477466-Tg6GFG9kdDF5h3ICwrau-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.140&release=eCQM%20Update%202019-05-10&ticket=ST-2477480-PtJktZXftXxpE5Bbrk7L-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.138&release=eCQM%20Update%202019-05-10&ticket=ST-2477486-LVZ6Y6u5oQc7aeFcISBU-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.152&release=eCQM%20Update%202019-05-10&ticket=ST-2477471-amFcP0TaDOxsd4yac6Co-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.159&release=eCQM%20Update%202019-05-10&ticket=ST-2477464-q7NX25NA4cvb1H4fhz3J-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.123&release=eCQM%20Update%202019-05-10&ticket=ST-2477481-0GjgoiHMDBjcpimugVI1-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.2363&release=eCQM%20Update%202019-05-10&ticket=ST-2477474-JMcDS4cmeb4sGxMbVyaw-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.114&release=eCQM%20Update%202019-05-10&ticket=ST-2477487-3iEMGVK6eDAV5HeCNpqs-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.151&release=eCQM%20Update%202019-05-10&ticket=ST-2477484-YoZntDHa3JAJzFxzYndb-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.127&release=eCQM%20Update%202019-05-10&ticket=ST-2477472-wSBg0ddY6uZgJjwfQG9K-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.117&release=eCQM%20Update%202019-05-10&ticket=ST-2477479-ecb5VMA1bWPbwN99EJZe-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.130&release=eCQM%20Update%202019-05-10&ticket=ST-2477470-2W7FQJscddxJffjJNaT1-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.13.190.5.3&release=eCQM%20Update%202019-05-10&ticket=ST-2477483-BNYDZPJeaaPFJAbr4vmB-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
 [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.129&release=eCQM%20Update%202019-05-10&ticket=ST-2477475-3xdLQmd4DiEbenB136Wu-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1104.10&release=eCQM%20Update%202019-05-10&ticket=ST-2477477-oz1rFefLp2eY2R3ff6zC-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1045.119&release=eCQM%20Update%202019-05-10&ticket=ST-2477485-hHKts9TaVyAsGWqXcFa4-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.2289&release=eCQM%20Update%202019-05-10&ticket=ST-2477469-BeHFUKarsg9dHdTEaGwO-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&release=eCQM%20Update%202019-05-10&ticket=ST-2477494-ZYRKAPc6OunXzITtuMef-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns0:RetrieveMultipleValueSetsResponse
        xmlns:ns0=\"urn:ihe:iti:svs:2008\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n
        \   <ns0:DescribedValueSet ID=\"2.16.840.1.113762.1.4.1\" displayName=\"ONC
        Administrative Sex\" version=\"eCQM Update 2019-05-10\">\n        <ns0:ConceptList>\n
        \           <ns0:Concept code=\"F\" codeSystem=\"2.16.840.1.113883.5.1\" codeSystemName=\"AdministrativeGender\"
        codeSystemVersion=\"HL7V3.0_2018-08\" displayName=\"Female\"/>\n            <ns0:Concept
        code=\"F\" codeSystem=\"2.16.840.1.113883.5.1\" codeSystemName=\"AdministrativeGender\"
        codeSystemVersion=\"HL7V3.0_2018-08\" displayName=\"Female\"/>\n            <ns0:Concept
        code=\"M\" codeSystem=\"2.16.840.1.113883.5.1\" codeSystemName=\"AdministrativeGender\"
        codeSystemVersion=\"HL7V3.0_2018-08\" displayName=\"Male\"/>\n            <ns0:Concept
        code=\"M\" codeSystem=\"2.16.840.1.113883.5.1\" codeSystemName=\"AdministrativeGender\"
        codeSystemVersion=\"HL7V3.0_2018-08\" displayName=\"Male\"/>\n        </ns0:ConceptList>\n
        \       <ns0:Source>Office of the National Coordinator for Health Information
        Technology</ns0:Source>\n        <ns0:Purpose>(Clinical Focus: Gender identity
        restricted to only Male and Female used in administrative situations requiring
        a restriction to these two categories.),(Data Element Scope: Gender),(Inclusion
        Criteria: Male and Female only.),(Exclusion Criteria: Any gender identity
        that is not male or female.)</ns0:Purpose>\n        <ns0:Type>Extensional</ns0:Type>\n
        \       <ns0:Binding>Dynamic</ns0:Binding>\n        <ns0:Status>Active</ns0:Status>\n
        \       <ns0:RevisionDate>2015-03-31</ns0:RevisionDate>\n        <ns0:Group
        ID=\"1\" sourceOrganization=\"National Quality Forum\" displayName=\"CMS eCQM
        ID\">\n            <ns0:Keyword>CMS104v8</ns0:Keyword>\n        </ns0:Group>\n
        \       <ns0:Group ID=\"1\" sourceOrganization=\"National Quality Forum\"
        displayName=\"Measure GUID\">\n            <ns0:Keyword>42bf391f-38a3-4c0f-9ece-dcd47e9609d9</ns0:Keyword>\n
        \       </ns0:Group>\n        <ns0:Group ID=\"1\" sourceOrganization=\"National
        Quality Forum\" displayName=\"CMS Clinical Quality Measures\">\n            <ns0:Keyword>Eligible
        Hospitals</ns0:Keyword>\n        </ns0:Group>\n        <ns0:Group ID=\"1\"
        sourceOrganization=\"National Quality Forum[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&release=eCQM%20Update%202019-05-10&ticket=ST-2477478-VKySTvg5tveYQLJXWfnp-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
  [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&release=eCQM%20Update%202019-05-10&ticket=ST-2477467-NXxAvjU4EhUdCBdAFLSe-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
   [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&release=eCQM%20Update%202019-05-10&ticket=ST-2477468-qQWkyr5HnsEgHx0hyIjf-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
   [...]
