---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: TGT-1609200-fBDspEGrKxqCTG7EeiEFQ6wYKuj6wSzeMEedcNLIEhPL7EhjGb-cas
  recorded_at: Tue, 25 Jun 2019 23:35:25 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/program/CMS%20eCQM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: '{"name":"CMS eCQM","description":"eCQMs use data from electronic health
        records (EHR) and/or health information technology systems to measure health
        care quality. eCQM value sets specify terminology codes required for eCQM
        measurement and are updated by CMS one or more times each year.","release":[{"name":"eCQM
        Update 2019-05-10","releaseDate":20190510},{"name":"eCQM Update 2018-09-17","releaseDate":20180917},{"name":"eCQM
        Update 2018-05-04","releaseDate":20180504},{"name":"eCQM Update 2018 EP-EC
        and EH","releaseDate":20170929},{"name":"eCQM Update 4Q2017 EH","releaseDate":20170915},{"name":"eCQM
        Update 2017-05-05","releaseDate":20170505},{"name":"MU2 Update 2017-01-06","releaseDate":20170106},{"name":"MU2
        Update 2016-04-01","releaseDate":20160401},{"name":"MU2 Update 2015-05-01","releaseDate":20150501},{"name":"MU2
        EP Update 2014-07-01","releaseDate":20140701},{"name":"MU2 EP Update 2014-05-30","releaseDate":20140530},{"name":"MU2
        EH Update 2014-04-01","releaseDate":20140401},{"name":"MU2 EP Update 2013-06-14","releaseDate":20130614},{"name":"MU2
        EH Update 2013-04-01","releaseDate":20130401},{"name":"MU2 Update 2012-12-21","releaseDate":20121221},{"name":"MU2
        Update 2012-10-25","releaseDate":20121025}]}'
  recorded_at: Tue, 25 Jun 2019 23:35:25 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-1609200-fBDspEGrKxqCTG7EeiEFQ6wYKuj6wSzeMEedcNLIEhPL7EhjGb-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: ST-6419157-RlJSdtNVmu2PBGwdTK0a-cas
  recorded_at: Tue, 25 Jun 2019 23:35:26 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1111.143&release=Fake%201234&ticket=ST-6419157-RlJSdtNVmu2PBGwdTK0a-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113762.1.4.1111.143" displayName="Observation Services" version="N/A">
                <ns0:ConceptList/>
                <ns0:Source>The Joint Commission</ns0:Source>
                <ns0:Purpose>(Clinical Focus: This value set contains concepts that represent observation encounter types.),(Data Element Scope: This value set may use the Quality Data Model (QDM) category related to Encounter. The intent of this data element is to identify patients who have had an observation encounter. ),(Inclusion Criteria: Includes only relevant concepts associated with SNOMED CT codes representing inpatient encounter.),(Exclusion Criteria: No exclusions.)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2019-06-25</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Tue, 25 Jun 2019 23:35:27 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&release=Fake%201234&ticket=ST-6419164-x1Kr4u21mYEopkBI2Zjt-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.114222.4.11.836" displayName="Race" version="N/A">
                <ns0:ConceptList/>
                <ns0:Source>Centers for Disease Control National Center for Health Statistics</ns0:Source>
                <ns0:Purpose>(Clinical Focus: ),(Data Element Scope: ),(Inclusion Criteria: ),(Exclusion Criteria: )</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2019-06-25</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Tue, 25 Jun 2019 23:35:27 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&release=Fake%201234&ticket=ST-6419165-jOCjM9TpOK7MmwTGwRM1-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.114222.4.11.837" displayName="Ethnicity" version="N/A">
                <ns0:ConceptList/>
                <ns0:Source>Centers for Disease Control National Center for Health Statistics</ns0:Source>
                <ns0:Purpose>(Clinical Focus: ),(Data Element Scope: ),(Inclusion Criteria: ),(Exclusion Criteria: )</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2019-06-25</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Tue, 25 Jun 2019 23:35:27 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&release=Fake%201234&ticket=ST-6419159-H24Nn4Opgtvf1Rha5GRR-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      e[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.87&release=Fake%201234&ticket=ST-6419162-25i0FA0bvB23meyeF0rA-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
  [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.307&release=Fake%201234&ticket=ST-6419158-VqA1Yo7RXgm570cCxJ02-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
     [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.292&release=Fake%201234&ticket=ST-6419163-EzTtgfuezja6G1HlQdyi-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
 [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.299&release=Fake%201234&ticket=ST-6419161-BRo6wLt2BYmr3gBYvgLf-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
 [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&release=Fake%201234&ticket=ST-6419160-nIbeLMHEGe9ZdJkCbQJq-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encod[...]
