---
http_interactions:
  - request:
      method: post
      uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
      body:
        encoding: US-ASCII
        string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - text/plain;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
        X-Pool-Info:
          - "/Common/vsacweb_p 10.1.5.110 8080"
      body:
        encoding: UTF-8
        string: TGT-1609088-X9viqkKaxsKedIxyNP6DxSdt0hdNXeQPeydzTFPCtRDV9BXjWb-cas
    recorded_at: Tue, 25 Jun 2019 23:33:11 GMT
  - request:
      method: get
      uri: https://vsac.nlm.nih.gov/vsac/program/CMS%20eCQM%20and%20Hybrid%20Measure/latest%20profile
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - application/json
        X-Vip-Info:
          - 130.14.16.40:443
        X-Pool-Info:
          - "/Common/vsacweb_p 10.1.5.110 8080"
      body:
        encoding: UTF-8
        string: '{"name":"eCQM Update 2019-05-10","requestTime":"2019-06-25 07:33:11
        PM"}'
    recorded_at: Tue, 25 Jun 2019 23:33:11 GMT
  - request:
      method: post
      uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-1609088-X9viqkKaxsKedIxyNP6DxSdt0hdNXeQPeydzTFPCtRDV9BXjWb-cas?service=http://umlsks.nlm.nih.gov
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - text/plain;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
        X-Pool-Info:
          - "/Common/vsacweb_p 10.1.5.110 8080"
      body:
        encoding: UTF-8
        string: ST-6419039-7xQxXgdhvFH93LytwNqR-cas
    recorded_at: Tue, 25 Jun 2019 23:33:11 GMT
[...]
  - request:
      method: get
      uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.87&includeDraft=yes&profile=eCQM%20Update%202019-05-10&ticket=ST-6419043-PvosDuVg9xWNPDRfk3ab-cas
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - text/xml;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
        X-Pool-Info:
          - "/Common/vsacweb_p 10.1.5.112 8080"
      body:
        encoding: UTF-8
        string: |
          <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
          <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
              <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.87" displayName="Discharge To Acute Care Facility" version="N/A">
                  <ns0:ConceptList>
                      <ns0:Concept code="306701001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2018-09" displayName="Discharge to community hospital (procedure)"/>
                      <ns0:Concept code="306703003" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2018-09" displayName="Discharge to tertiary referral hospital (procedure)"/>
                      <ns0:Concept code="434781000124105" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2018-09" displayName="Discharge to acute care hospital (procedure)"/>
                  </ns0:ConceptList>
                  <ns0:Source>The Joint Commission</ns0:Source>
                  <ns0:Purpose>(Clinical Focus: This value set contains concepts that represent the discharge of a patient to an acute care facility.),(Data Element Scope: This value set may use the Quality Data Model (QDM) attribute related to Discharge Disposition. The intent of this data element is to identify the final place or setting to which the patient was discharged on the day of discharge from a particular inpatient encounter. This particular value set intends to identify patients who were discharged to an acute care facility.),(Inclusion Criteria: Includes only relevant concepts associated with SNOMED CT codes representing short-term acute care hospitals, including specialty hospitals.),(Exclusion Criteria: No exclusions.)</ns0:Purpose>
                  <ns0:Type>Extensional</ns0:Type>
                  <ns0:Binding>Dynamic</ns0:Binding>
                  <ns0:Status>Active</ns0:Status>
                  <ns0:RevisionDate>2019-06-25</ns0:RevisionDate>
              </ns0:DescribedValueSet>
          </ns0:RetrieveMultipleValueSetsResponse>
    recorded_at: Tue, 25 Jun 2019 23:33:12 GMT
  - request:
      method: get
      uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&includeDraft=yes&profile=eCQM%20Update%202019-05-10&ticket=ST-6419046-50prEEmF4QDMh9H3SGSQ-cas
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - text/xml;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
        X-Pool-I[...]
  - request:
      method: get
      uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&includeDraft=yes&profile=eCQM%20Update%202019-05-10&ticket=ST-6419047-fJWEdpcaiaRZLZjfSz04-cas
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - text/xml;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
        X-Poo[...]
  - request:
      method: get
      uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.307&includeDraft=yes&profile=eCQM%20Update%202019-05-10&ticket=ST-6419040-2aDclgcJMLsET4Nefekb-cas
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - text/xml;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
        X-[...]
  - request:
      method: get
      uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.292&includeDraft=yes&profile=eCQM%20Update%202019-05-10&ticket=ST-6419042-6BbLuPQPAw0XOHRFddke-cas
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - text/xml;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
      [...]
  - request:
      method: get
      uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1111.143&includeDraft=yes&profile=eCQM%20Update%202019-05-10&ticket=ST-6419039-7xQxXgdhvFH93LytwNqR-cas
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - text/xml;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
        X[...]
  - request:
      method: get
      uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&includeDraft=yes&profile=eCQM%20Update%202019-05-10&ticket=ST-6419045-eO3Wlsupf7vjlzgiu7kW-cas
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 200
        message: ''
      headers:
        Content-Type:
          - text/xml;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
        X-Poo[...]
  - request:
      method: get
      uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&includeDraft=yes&profile=eCQM%20Update%202019-05-10&ticket=ST-6419044-vwutdrdEh9GD2xldeuUN-cas
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 401
        message: ''
      headers:
        Content-Type:
          - text/xml;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
        X-Pool-Info:
          - "/Common/vsacweb_p 10.1.5.114 8080"
      body:
        encoding: UTF-8
        string: ''
    recorded_at: Tue, 25 Jun 2019 23:33:12 GMT
  - request:
      method: get
      uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.299&includeDraft=yes&profile=eCQM%20Update%202019-05-10&ticket=ST-6419041-ssqjTPn9sQNaFyuCG47h-cas
      body:
        encoding: US-ASCII
        string: ''
      headers:
    response:
      status:
        code: 401
        message: ''
      headers:
        Content-Type:
          - text/xml;charset=utf-8
        X-Vip-Info:
          - 130.14.16.40:443
        X-Pool-Info:
          - "/Common/vsacweb_p 10.1.5.112 8080"
      body:
        encoding: UTF-8
        string: ''
    recorded_at: Tue, 25 Jun 2019 23:33:12 GMT
recorded_with: VCR 4.0.0
