---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: UTF-8
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: TGT-407530-mz5MNj1IDq2aMt6hgTBphkqyWK1Fa5uI9O4COS6yuk77yk5je4-cas
  recorded_at: Mon, 02 Jul 2018 17:24:30 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/program/CMS%20eCQM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: '{"name":"CMS eCQM","description":"eCQMs use data from electronic health
        records (EHR) and/or health information technology systems to measure health
        care quality. eCQM value sets specify terminology codes required for eCQM
        measurement and are updated by CMS one or more times each year.","release":[{"name":"eCQM
        Update 2018-05-04","releaseDate":20180504},{"name":"eCQM Update 2018 EP-EC
        and EH","releaseDate":20170929},{"name":"eCQM Update 4Q2017 EH","releaseDate":20170915},{"name":"eCQM
        Update 2017-05-05","releaseDate":20170505},{"name":"MU2 Update 2017-01-06","releaseDate":20170106},{"name":"MU2
        Update 2016-04-01","releaseDate":20160401},{"name":"MU2 Update 2015-05-01","releaseDate":20150501},{"name":"MU2
        EP Update 2014-07-01","releaseDate":20140701},{"name":"MU2 EP Update 2014-05-30","releaseDate":20140530},{"name":"MU2
        EH Update 2014-04-01","releaseDate":20140401},{"name":"MU2 EP Update 2013-06-14","releaseDate":20130614},{"name":"MU2
        EH Update 2013-04-01","releaseDate":20130401},{"name":"MU2 Update 2012-12-21","releaseDate":20121221},{"name":"MU2
        Update 2012-10-25","releaseDate":20121025}]}'
  recorded_at: Mon, 02 Jul 2018 17:24:30 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-407530-mz5MNj1IDq2aMt6hgTBphkqyWK1Fa5uI9O4COS6yuk77yk5je4-cas
    body:
      encoding: UTF-8
      string: service=http%3A%2F%2Fumlsks.nlm.nih.gov
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: ST-2313372-wehMu6eDKM5VocKnIM9P-cas
  recorded_at: Mon, 02 Jul 2018 17:24:32 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&release=eCQM%20Update%202018-05-04&ticket=ST-2313372-wehMu6eDKM5VocKnIM9P-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns0:RetrieveMultipleValueSetsResponse
        xmlns:ns0=\"urn:ihe:iti:svs:2008\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n
        \   <ns0:DescribedValueSet ID=\"2.16.840.1.113762.1.4.1\" displayName=\"ONC
        Administrative Sex\" version=\"eCQM Update 2018-05-04\">\n        <ns0:ConceptList>\n
        \           <ns0:Concept code=\"F\" codeSystem=\"2.16.840.1.113883.5.1\" codeSystemName=\"AdministrativeGender\"
        codeSystemVersion=\"HL7V3.0_2017-07\" displayName=\"Female\"/>\n            <ns0:Concept
        code=\"M\" codeSystem=\"2.16.840.1.113883.5.1\" codeSystemName=\"AdministrativeGender\"
        codeSystemVersion=\"HL7V3.0_2017-07\" displayName=\"Male\"/>\n        </ns0:ConceptList>\n
        \       <ns0:Source>Office of the National Coordinator for Health Information
        Technology</ns0:Source>\n        <ns0:Purpose>(Clinical Focus: Gender identity
        restricted to only Male and Female used in administrative situations requiring
        a restriction to these two categories.),(Data Element Scope: Gender),(Inclusion
        Criteria: Male and Female only.),(Exclusion Criteria: Any gender identity
        that is not male or female.)</ns0:Purpose>\n        <ns0:Type>Extensional</ns0:Type>\n
        \       <ns0:Binding>Dynamic</ns0:Binding>\n        <ns0:Status>Active</ns0:Status>\n
        \       <ns0:RevisionDate>2015-03-31</ns0:RevisionDate>\n        <ns0:Group
        ID=\"1\" sourceOrganization=\"National Quality Forum\" displayName=\"CMS eCQM
        ID\">\n            <ns0:Keyword>CMS102v7</ns0:Keyword>\n        </ns0:Group>\n
        \       <ns0:Group ID=\"1\" sourceOrganization=\"National Quality Forum\"
        displayName=\"Measure GUID\">\n            <ns0:Keyword>7dc26160-e615-4cc2-879c-75985189ec1a</ns0:Keyword>\n
        \       </ns0:Group>\n        <ns0:Group ID=\"1\" sourceOrganization=\"National
        Quality Forum\" displayName=\"CMS Clinical Quality Measures\">\n            <ns0:Keyword>Eligible
        Hospitals</ns0:Keyword>\n        </ns0:Group>\n        <ns0:Group ID=\"1\"
        sourceOrganization=\"National Quality Forum[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&release=eCQM%20Update%202018-05-04&ticket=ST-2313375-vJWlnBi3KLengZq7YEgi-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
   [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&release=eCQM%20Update%202018-05-04&ticket=ST-2313379-vAbtJ7o1vqqTLtC0mV0U-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns0:RetrieveMultipleValueSetsResponse
        xmlns:ns0=\"urn:ihe:iti:svs:2008\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n
        \   <ns0:DescribedValueSet ID=\"2.16.840.1.114222.4.11.837\" displayName=\"Ethnicity\"
        version=\"eCQM Update 2018-05-04\">\n        <ns0:ConceptList>\n            <ns0:Concept
        code=\"2135-2\" codeSystem=\"2.16.840.1.113883.6.238\" codeSystemName=\"CDCREC\"
        codeSystemVersion=\"1.1\" displayName=\"Hispanic or Latino\"/>\n            <ns0:Concept
        code=\"2186-5\" codeSystem=\"2.16.840.1.113883.6.238\" codeSystemName=\"CDCREC\"
        codeSystemVersion=\"1.1\" displayName=\"Not Hispanic or Latino\"/>\n        </ns0:ConceptList>\n
        \       <ns0:Source>Centers for Disease Control National Center for Health
        Statistics</ns0:Source>\n        <ns0:Purpose>(Clinical Focus: ),(Data Element
        Scope: ),(Inclusion Criteria: ),(Exclusion Criteria: )</ns0:Purpose>\n        <ns0:Type>Extensional</ns0:Type>\n
        \       <ns0:Binding>Dynamic</ns0:Binding>\n        <ns0:Status>Active</ns0:Status>\n
        \       <ns0:RevisionDate>2012-10-25</ns0:RevisionDate>\n        <ns0:Group
        ID=\"1\" sourceOrganization=\"National Quality Forum\" displayName=\"CMS eCQM
        ID\">\n            <ns0:Keyword>CMS102v7</ns0:Keyword>\n        </ns0:Group>\n
        \       <ns0:Group ID=\"1\" source[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&release=eCQM%20Update%202018-05-04&ticket=ST-2313385-1bMsJbJ7dqOoPY2SlZJB-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
  [...]
