---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: TGT-37529-sT9rKfUuhCUOBSnWcgmkjZKODCy2gk32AzjyHRezcHZKZbJjHI-cas
  recorded_at: Sun, 24 Sep 2017 17:25:04 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-37529-sT9rKfUuhCUOBSnWcgmkjZKODCy2gk32AzjyHRezcHZKZbJjHI-cas
    body:
      encoding: US-ASCII
      string: service=http%3A%2F%2Fumlsks.nlm.nih.gov
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: ST-86720-GGMrknHJLiceUENei2be-cas
  recorded_at: Sun, 24 Sep 2017 17:25:05 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.526.3.1496&ticket=ST-86720-GGMrknHJLiceUENei2be-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns0:RetrieveMultipleValueSetsResponse
        xmlns:ns0=\"urn:ihe:iti:svs:2008\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n
        \   <ns0:DescribedValueSet ID=\"2.16.840.1.113883.3.526.3.1496\" displayName=\"Psych
        Visit - Psychotherapy\" version=\"MU2 Update 2017-01-06\">\n        <ns0:ConceptList>\n
        \           <ns0:Concept code=\"90832\" codeSystem=\"2.16.840.1.113883.6.12\"
        codeSystemName=\"CPT\" codeSystemVersion=\"2016\" displayName=\"Psychotherapy,
        30 minutes with patient and/or family member\"/>\n            <ns0:Concept
        code=\"90834\" codeSystem=\"2.16.840.1.113883.6.12\" codeSystemName=\"CPT\"
        codeSystemVersion=\"2016\" displayName=\"Psychotherapy, 45 minutes with patient
        and/or family member\"/>\n            <ns0:Concept code=\"90837\" codeSystem=\"2.16.840.1.113883.6.12\"
        codeSystemName=\"CPT\" codeSystemVersion=\"2016\" displayName=\"Psychotherapy,
        60 minutes with patient and/or family member\"/>\n        </ns0:ConceptList>\n
        \       <ns0:Source>American Medical Association-convened Physician Consortium
        for Performance Improvement(R)</ns0:Source>\n        <ns0:Purpose>(Clinical
        Focus: Under Development),(Data Element Scope: Under Development),(Inclusion
        Criteria: Under Development),(Exclusion Criteria: Under Development)</ns0:Purpose>\n
        \       <ns0:Definition>(2.16.840.1.113883.3.526.2.1927:Psych Visit - Psychotherapy)</ns0:Definition>\n
        \       <ns0:Type>Grouping</ns0:Type>\n        <ns0:Binding>Dynamic</ns0:Binding>\n
        \       <ns0:Status>Active</ns0:Status>\n        <ns0:RevisionDate>2016-03-31</ns0:RevisionDate>\n
        \       <ns0:Group ID=\"1\" sourceOrganization=\"National Quality Forum\"
        displayName=\"Meaningful Use Measures\">\n            <ns0:Keyword>CY 2014
        EP</ns0:Keyword>\n        </ns0:Group>\n        <ns0:Group ID=\"1\" sourceOrganization=\"National
        Quality Forum\" displayName=\"eMeasure Identifier\">\n            <ns0:Keyword>128</ns0:Keyword>\n
        \       </ns0:Group>\n        <ns0:Group ID=\"1\" sourceOrganization=\"National
        Quality Forum\" displayName=\"eMeasure Title\">\n            <ns0:Keyword>Anti-depressant
        Medication Management</ns0:Keyword>\n        </ns0:Group>\n        <ns0:Group
       [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.106.12.1001&ticket=ST-86721-g20bFRYUeicHCfIJxUjL-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1048&ticket=ST-86722-WRKe2HXLffPLoht5DiO7-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&profile=Latest%20eCQM&ticket=ST-86723-7GyeXbo1Wf1U6eKbpzGa-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.114222.4.11.836" displayName="Race" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="1002-5" codeSystem="2.16.840.1.113883.6.238" codeSystemName="CDCREC" codeSystemVersion="1.1" displayName="American Indian or Alaska Native"/>
                    <ns0:Concept code="2028-9" codeSystem="2.16.840.1.113883.6.238" codeSystemNa[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&profile=Latest%20eCQM&ticket=ST-86724-eoTLkz2z4geWLCUhSxfk-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      enc[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1001&ticket=ST-86725-CbYhWYaFIuX4GtQKPMFg-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1004&ticket=ST-86726-xoBM6VvkfOIU0OqgD01G-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&profile=Latest%20eCQM&ticket=ST-86727-9KYxllp92I9UYiKLaFQT-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.106.12.1005&ticket=ST-86728-Nbp4m6AWesRTRlllzeet-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&profile=Latest%20eCQM&ticket=ST-86733-Kb2a022htcarMucvKJVG-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
     [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1059&ticket=ST-86734-cjfHqgvhFyOqRTeJnwbD-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1007&ticket=ST-86735-7EOmdagFfPBndCWAM5yM-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1002&ticket=ST-86736-tmkNjqjfvZxnKQ65MMNh-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1006&ticket=ST-86737-P5CUID9eQN3X3hlFFgr7-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1010&ticket=ST-86738-9Jgawen0tCb7frc7tcce-cas&version=MU2%20Update%202017-01-06
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 165.112.140.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
