---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: UTF-8
      string: username=invaliduser&password=invalidpassword
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Aug 2017 16:05:34 GMT
- request:
    method: post
    uri: http://localhost:8080/cql/translator
    body:
      encoding: ASCII-8BIT
      string: "--647091\r\nContent-Disposition: form-data; name=\"file[]\"\r\n\r\nlibrary
        InitiationandEngagementofAlcoholandOtherDrugDependenceTreatment version '0.0.001'\n\nusing
        QDM version '5.0'\n\nvalueset \"Psych Visit - Psychotherapy\": 'urn:oid:2.16.840.1.113883.3.526.3.1496'
        \n\nvalueset \"Alcohol and Drug Dependence\": 'urn:oid:2.16.840.1.113883.3.464.1003.106.12.1001'
        \n\nvalueset \"Face-to-Face Interaction\": 'urn:oid:2.16.840.1.113883.3.464.1003.101.12.1048'
        \n\nvalueset \"Race\": 'urn:oid:2.16.840.1.114222.4.11.836' \n\nvalueset \"ONC
        Administrative Sex\": 'urn:oid:2.16.840.1.113762.1.4.1' \n\nvalueset \"Office
        Visit\": 'urn:oid:2.16.840.1.113883.3.464.1003.101.12.1001' \n\nvalueset \"Hospital
        Inpatient Visit - Initial\": 'urn:oid:2.16.840.1.113883.3.464.1003.101.12.1004'
        \n\nvalueset \"Ethnicity\": 'urn:oid:2.16.840.1.114222.4.11.837' \n\nvalueset
        \"Alcohol and Drug Dependence Treatment\": 'urn:oid:2.16.840.1.113883.3.464.1003.106.12.1005'
        \n\nvalueset \"Payer\": 'urn:oid:2.16.840.1.114222.4.11.3591' \n\nvalueset
        \"Detoxification Visit\": 'urn:oid:2.16.840.1.113883.3.464.1003.101.12.1059'
        \n\nvalueset \"Discharge Services - Hospital Inpatient\": 'urn:oid:2.16.840.1.113883.3.464.1003.101.12.1007'
        \n\nvalueset \"Hospital Observation Care - Initial\": 'urn:oid:2.16.840.1.113883.3.464.1003.101.12.1002'
        \n\nvalueset \"Discharge Services - Hospital Inpatient Same Day Discharge\":
        'urn:oid:2.16.840.1.113883.3.464.1003.101.12.1006' \n\nvalueset \"Emergency
        Department Visit\": 'urn:oid:2.16.840.1.113883.3.464.1003.101.12.1010' \n\nparameter
        \"Measurement Period\" Interval<DateTime>\n\ncontext Patient\n\ndefine \"SDE
        Ethnicity\": [\"Patient Characteristic Ethnicity\": \"Ethnicity\"]\n\ndefine
        \"SDE Payer\": [\"Patient Characteristic Payer\": \"Payer\"]\n\ndefine \"SDE
        Race\": [\"Patient Characteristic Race\": \"Race\"]\n\ndefine \"SDE Sex\":
        [\"Patient Characteristic Sex\": \"ONC Administrative Sex\"]\n\ndefine \"Initial
        Population 1\": \"In Demographic\" \r\n and exists (\"First Alcohol Drug Dependence
        Dx\")\n\ndefine \"Denominator 1\": \"Initial Population 1\"\n\ndefine \"Numerator
        1\": exists (\"Drug Dependence Treatment Or Psych Visit\")\n\ndefine \"Stratification
        1_1\": AgeInYearsAt(start of \"Measurement Period\") >= 13 \r\n     and AgeInYearsAt(start
        of \"Measurement Period\") < 18\n\ndefine \"Stratification 1_2\": AgeInYearsAt(start
        of \"Measurement Period\") >= 18\n\ndefine \"Initial Population 2\": \"In
        Demographic\" \r\nand exists (\"First Alcohol Drug Dependence Dx\")\n\ndefine
        \"Denominator 2\": \"Initial Population 2\"\n\ndefine \"Denominator Exclusions
        1\": [\"Diagnosis\": \"Alcohol and Drug Dependence\"] Diagnosis \r\n     with
        \"First Alcohol Drug Dependence Dx\" FirstDiagnosis \r\n       such that Diagnosis.prevalencePeriod
        starts 60 days or less after start of FirstDiagnosis.prevalencePeriod\n\ndefine
        \"Denominator Exclusions 2\": [\"Diagnosis\": \"Alcohol and Drug Dependence\"]
        Diagnosis \r\n     with \"First Alcohol Drug Dependence Dx\" FirstDiagnosis
        \r\n       such that Diagnosis.prevalencePeriod starts 60 days or l[...]
[...]
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: UTF-8
      string: username=invaliduser&password=invalidpassword
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 22 Aug 2017 16:05:36 GMT
recorded_with: VCR 3.0.3
