---
http_interactions:
- request:
    method: put
    uri: https://bonniedev-fhir.semanticbits.com/bonnie-patient-conversion/patients/convertMany
    body:
      encoding: UTF-8
      string: '[{"_id":"5fce94e39c996400009695ba","bundleId":null,"expectedValues":[{"population_index":0,"measure_id":"AA2A4BBC-864F-45EE-B17A-7EBCC62E6AAC","IPP":1,"DENOM":1,"DENEX":0,"NUMER":0}],"familyName":"IPP_DENOM","givenNames":["Pass_Test"],"measure_ids":["AA2A4BBC-864F-45EE-B17A-7EBCC62E6AAC"],"notes":"","provider_ids":[],"qdmPatient":{"_id":"5fff6c9bb78902e8f195fa6f","birthDatetime":"1958-01-01T08:00:00.000+00:00","dataElements":[{"_id":"5fce95119c99640000969609","admissionSource":null,"authorDatetime":"2012-12-07T08:00:00.000+00:00","codeListId":"2.16.840.1.113883.3.464.1003.101.12.1001","dataElementCodes":[{"code":"185463005","system":"2.16.840.1.113883.6.96","version":null,"display":null}],"description":"Encounter,
        Performed: Office Visit","diagnoses":[],"dischargeDisposition":null,"facilityLocations":[],"hqmfOid":"2.16.840.1.113883.10.20.28.4.5","id":"5fce95119c99640000969609","lengthOfStay":null,"negationRationale":null,"priority":null,"qdmCategory":"encounter","qdmStatus":"performed","qdmTitle":"Encounter,
        Performed","qdmVersion":"5.5","relevantPeriod":{"low":"2012-12-07T08:00:00.000Z","high":"2012-12-07T08:15:00.000Z","lowClosed":true,"highClosed":true},"_type":"QDM::EncounterPerformed"},{"_id":"5fce94c6b789027d3ae63d5e","codeListId":"2.16.840.1.113762.1.4.1","dataElementCodes":[{"code":"F","system":"2.16.840.1.113883.5.1","version":null,"display":"Female"}],"description":"Patient
        Characteristic Sex: ONCAdministrativeSex","hqmfOid":"2.16.840.1.113883.10.20.28.4.55","id":"5fce94c6b789027d3ae63d5e","qdmCategory":"patient_characteristic","qdmStatus":"gender","qdmTitle":"Patient
        Characteristic Sex","qdmVersion":"5.5","_type":"QDM::PatientCh[...]
