---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: UTF-8
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: TGT-2257-fh9dal6HEJcV26Ke0RDDQ9co1oxH6nCSTzejVyhbqIp9ZqTevM-cas
  recorded_at: Tue, 05 Sep 2017 20:25:10 GMT
- request:
    method: post
    uri: http://localhost:8080/cql/translator
    body:
      encoding: ASCII-8BIT
      string: "--260232\r\nContent-Disposition: form-data; name=\"file[]\"\r\n\r\nlibrary
        DocumentationofCurrentMedicationsintheMedicalRecord version '0.0.004'\n\nusing
        QDM version '5.0.2'\n\nvalueset \"Medical or Other reason not done\": 'urn:oid:2.16.840.1.113883.3.600.1.1502'
        \n  version 'urn:hl7:profile:Latest%20eCQM'\n\nvalueset \"Medications Encounter
        Code Set\": 'urn:oid:2.16.840.1.113883.3.600.1.1834' \n  version 'urn:hl7:profile:Latest%20eCQM'\n\nvalueset
        \"Race\": 'urn:oid:2.16.840.1.114222.4.11.836' \n  version 'urn:hl7:profile:Latest%20eCQM'\n\nvalueset
        \"ONC Administrative Sex\": 'urn:oid:2.16.840.1.113762.1.4.1' \n  version
        'urn:hl7:profile:Latest%20eCQM'\n\nvalueset \"Ethnicity\": 'urn:oid:2.16.840.1.114222.4.11.837'
        \n  version 'urn:hl7:profile:Latest%20eCQM'\n\nvalueset \"Current Medications
        Documented SNMD\": 'urn:oid:2.16.840.1.113883.3.600.1.462' \n  version 'urn:hl7:profile:Latest%20eCQM'\n\nvalueset
        \"Payer\": 'urn:oid:2.16.840.1.114222.4.11.3591' \n  version 'urn:hl7:profile:Latest%20eCQM'\n\nparameter
        \"Measurement Period\" Interval<DateTime>\n\ncontext Patient\n\ndefine \"SDE
        Ethnicity\": [\"Patient Characteristic Ethnicity\": \"Ethnicity\"]\n\ndefine
        \"SDE Payer\": [\"Patient Characteristic Payer\": \"Payer\"]\n\ndefine \"SDE
        Race\": [\"Patient Characteristic Race\": \"Race\"]\n\ndefine \"SDE Sex\":
        [\"Patient Characteristic Sex\": \"ONC Administrative Sex\"]\n\ndefine \"In
        Demographic\": AgeInYearsAt(start of \"Measurement Period\") >= 18\n\ndefine
        \"Encounter\": [\"Encounter, Performed\":\"Medications Encounter Code Set\"]\n\ndefine
        \"Encounters during MP\": \"Encounter\" Encounter where Encounter.relevantPeriod
        during \"Measurement Period\"\n\ndefine \"IPP\": \"In Demographic\" and exists
        \"Encounters during MP\"\n\ndefine \"Numerator\": \"Medications Documented\"\n\ndefine
        \"Denominator\": \"IPP\"\n\ndefine \"Medications Documented\": [\"Procedure,
        Performed\": \"Current Medications Documented SNMD\"] Procedure\nwith \"Encounters
        during MP\" Encounter\nsuch that Procedure.relevantPeriod during Encounter.relevantPeriod\n\ndefine
        \"meds not documented for medical reason\": [\"Procedure, Not Performed\":
        \"Current Medications Documented SNMD\"] NotPerformed\nwhere NotPerformed.negationRationale
        in \"Medical or Other reason not done\"\n\ndefine \"DenException\": \"meds
        not documented for medical reason\"\n\n\r\n--260232--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=260232
  response:
    status:
      code: 200
      message: OK
    headers:
      Mime-Version:
      - '1.0'
      Content-Type:
      - multipart/form-data;boundary=Boundary_71_1998097434_1504643110385
    body:
      encoding: UTF-8
      string: "--Boundary_71_1998097434_1504643110385\r\nContent-Type: application/elm+json\r\nContent-Disposition:
        form-data; name=\"file[]\"\r\n\r\n{\n   \"library\" : {\n      \"identifier\"
        : {\n         \"id\" : \"DocumentationofCurrentMedicationsintheMedicalRecord\",\n
        \        \"version\" : \"0.0.004\"\n      },\n      \"schemaIdentifier\" :
        {\n         \"id\" : \"urn:hl7-org:elm\",\n         \"version\" : \"r1\"\n
        \     },\n      \"usings\" : {\n         \"def\" : [ {\n            \"localIdentifier\"
        : \"System\",\n            \"uri\" : \"urn:hl7-org:elm-types:r1\"\n         },
        {\n            \"localId\" : \"1\",\n            \"localIdentifier\" : \"QDM\",\n
        \           \"uri\" : \"urn:healthit-gov:qdm:v5_0_1_draft\",\n            \"version\"
        : \"5.0.2\"\n         } ]\n      },\n      \"parameters\" : {\n         \"def\"
        : [ {\n            \"localId\" : \"11\",\n            \"name\" : \"Measurement
        Period\",\n            \"accessLevel\" : \"Public\",\n            \"parameterTypeSpecifier\"
        : {\n               \"localId\" : \"10\",\n               \"type\" : \"IntervalTypeSpecifier\",\n
        \              \"pointType\" : {\n                  \"localId\" : \"9\",\n
        \                 \"name\" : \"{urn:hl7-org:elm-types:r1}DateTime\",\n                  \"type\"
        : \"NamedTypeSpecifier\"\n               }\n            }\n         } ]\n
        \     },\n      \"valueSets\" : {\n         \"def\" : [ {\n            \"localId\"
        : \"2\",\n            \"name\" : \"Medical or Other reason not done\",\n            \"id\"
        : \"urn:oid:2.16.840.1.113883.3.600.1.1502\",\n            \"version\" : \"urn:hl7:profile:Latest%20eCQM\",\n
        \           \"accessLevel\" : \"Public\"\n         }, {\n            \"localId\"
        : \"3\",\n            \"name\" : \"Medications Encounter Code Set\",\n            \"id\"
        : \"urn:oid:2.16.840.1.113883.3.600.1[...]
[...]
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-2258-6H2VFOlfP3TYEl1HBLzHlHDcgN2IeT3pelkluYm2CkmWypps44-cas
    body:
      encoding: UTF-8
      string: service=http%3A%2F%2Fumlsks.nlm.nih.gov
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: ST-17001-UxZS1XqDhQ3LpXReabMY-cas
  recorded_at: Tue, 05 Sep 2017 20:25:10 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.600.1.1502&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-17001-UxZS1XqDhQ3LpXReabMY-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.600.1.1502" displayName="Medical or Other reason not done" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="183932001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2017-03" displayName="Procedure contraindicated (situation)"/>
                    <ns0:Concept code="397745006" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2017-03" displayName="Medical contraindication (finding)"/>
                    <ns0:Concept code="407563006" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2017-03" displayName="Treatment not tolerated (situation)"/>
                    <ns0:Concept code="428119001" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2017-03" displayName="Procedure not indicated (situation)"/>
                </ns0:ConceptList>
                <ns0:Source>Quality Insights of Pennsylvania</ns0:Source>
                <ns0:Purpose>(Clinical Focus: The intent of this value set is to specify a situation or finding was not done by indicating a medical reason a procedure or treatment is contraindicated, not tolerated, or not indicated.),(Data Element Scope: ),(Inclusion Criteria: ),(Exclusion Criteria: )</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2017-09-05</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Tue, 05 Sep 2017 20:25:11 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.600.1.1834&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-17003-aUMoNLzKFaCJMhVAZfww-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 808[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-17006-EsYknzl5kMtINf9VyHyo-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
 [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-17007-eXNVkPFf2JTlCAkWxr11-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-17009-yKJ9GSUJ3WupLysO1GWy-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
 [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.600.1.462&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-17012-C73TDkTb1WZLOermyigE-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-17014-TfgPT4Tx6g2U4WCtFRr5-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
[...]
