---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: TGT-1610463-Kbjczy4G2L2NIVtnkMaEc6krIKPdpvsQnHQKbSIT6FlDCnjOVM-cas
  recorded_at: Wed, 26 Jun 2019 00:00:18 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-1610463-Kbjczy4G2L2NIVtnkMaEc6krIKPdpvsQnHQKbSIT6FlDCnjOVM-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: ST-6420429-7bwDf9DUzM1Q0G2VpZCo-cas
  recorded_at: Wed, 26 Jun 2019 00:00:18 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.87&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-6420432-4Vuv1xvYzVpqN3A7vZ1I-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns0:RetrieveMultipleValueSetsResponse
        xmlns:ns0=\"urn:ihe:iti:svs:2008\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n
        \   <ns0:DescribedValueSet ID=\"2.16.840.1.113883.3.117.1.7.1.87\" displayName=\"Discharge
        To Acute Care Facility\" version=\"eCQM Update 2018 EP-EC and EH\">\n        <ns0:ConceptList>\n
        \           <ns0:Concept code=\"306701001\" codeSystem=\"2.16.840.1.113883.6.96\"
        codeSystemName=\"SNOMEDCT\" codeSystemVersion=\"2017-03\" displayName=\"Discharge
        to community hospital (procedure)\"/>\n            <ns0:Concept code=\"306703003\"
        codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMEDCT\" codeSystemVersion=\"2017-03\"
        displayName=\"Discharge to tertiary referral hospital (procedure)\"/>\n            <ns0:Concept
        code=\"434781000124105\" codeSystem=\"2.16.840.1.113883.6.96\" codeSystemName=\"SNOMEDCT\"
        codeSystemVersion=\"2017-03\" displayName=\"Discharge to acute care hospital
        (procedure)\"/>\n        </ns0:ConceptList>\n        <ns0:Source>The Joint
        Commission</ns0:Source>\n        <ns0:Purpose>(Clinical Focus: This set of
        values contains procedures used to represent the discharge of a patient to
        an acute care facility.),(Data Element Scope: The intent of this data element
        is to identify the final place or setting to which the patient was discharged
        on the day of discharge from a particular inpatient encounter. This particular
        value set intends to identify patients who where discharged to an acute care
        facility. Using the Quality Data Model, this particular value set is used
        with the Attribute of \"Discharge status\" used with the \"Encounter\" category.),(Inclusion
        Criteria: Only SNOMED CT codes representing short-term acute care hospitals,
        including specialty hospitals, should be included.),(Exclusion Criteria: None)</ns0:Purpose>\n
        \       <ns0:Type>Extensional</ns0:Type>\n        <ns0:Binding>Dynamic</ns0:Binding>\n
        \       <ns0:Status>Active</ns0:Status>\n        <ns0:RevisionDate>2017-07-25</ns0:RevisionDate>\n
        \       <ns0:Group ID=\"1\" sourceOrganization=\"National Quality Forum\"
        displayName=\"eMeasure Identifier\">\n            <ns0:Keyword>102</ns0:Keyword>\n
        \       </ns0:Group>\n        <ns0:Group ID=\"1\" sourceOrganization=\"National
        Quality Forum\" displayName=\"eMeasure Title\">\n            <ns0:Keyword>Assessed
        for Rehabilitation</ns0:Keyword>\n        </ns0:Group>\n        <ns0:Group
        ID=\"1\" sourceOrganization=\"National Quality Forum\" displayName=\"eMeasure
        Status\">\n            <ns0:Keyword>COMPLETED</ns0:Keyword>\n        </ns0:Group>\n
        \       <ns0:Group ID=\"1\" sour[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.292&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-6420435-Br2cRKkGJCwTemDGXdUH-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1111.143&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-6420436-CfTSjXRpojXtIzTuCAIz-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113762.1.4.1111.143" displayName="Observation Services" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="448851000124103" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2017-03" displayName="Hospital admission from observation unit (procedure)"/>
                    <ns0:Concept code="448[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.299&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-6420437-mqV0p5yQoi9oreVSNbio-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.307&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-6420430-0xMwhiONdBfdmXqqhv7h-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-6420433-QnMS3jKVfFgrlOYzQeSB-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110[...]
