---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: UTF-8
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: TGT-326722-JklNonv1P7toGshUWf7ZiZ6gFGxZymIOdWaT2ZN2RBepNcbXhL-cas
  recorded_at: Tue, 29 Jan 2019 21:05:05 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-326722-JklNonv1P7toGshUWf7ZiZ6gFGxZymIOdWaT2ZN2RBepNcbXhL-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: ST-1590446-v0tEEw5c4SMnFijQHwE3-cas
  recorded_at: Tue, 29 Jan 2019 21:05:05 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.600.1.462&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-1590446-v0tEEw5c4SMnFijQHwE3-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.600.1.462" displayName="Current Medications Documented SNMD" version="eCQM Update 2018 EP-EC and EH">
                <ns0:ConceptList>
                    <ns0:Concept code="428191000124101" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2017-03" displayName="Documentation of current medications (procedure)"/>
                </ns0:ConceptList>
                <ns0:Source>Quality Insights of Pennsylvania</ns0:Source>
                <ns0:Purpose>(Clinical Focus: The general focus of this value set is to capture that the procedure or task of documenting a current medication list in the medical record is accomplished.),(Data Element Scope: ),(Inclusion Criteria: Includes all documentation of current medications in the medical record.),(Exclusion Criteria: Medication lists that have not been reviewed or updated in the medical record.)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2017-05-04</ns0:RevisionDate>
                <ns0:Group ID="1" sourceOrganization="National Quality Forum" displayName="eMeasure Identifier">
                    <ns0:Keyword>68</ns0:Keyword>
                </ns0:Group>
                <ns0:Group ID="1" sourceOrganization="National Quality Forum" displayName="eMeasure Title">
                    <ns0:Keyword>Documentation of Current Medications in the Medical Record</ns0:Keyword>
                </ns0:Group>
                <ns0:Group ID="1" sourceOrganization="National Quality Forum" displayName="eMeasure Status">
                    <ns0:Keyword>COMPLETED</ns0:Keyword>
                </ns0:Group>
                [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.600.1.1834&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-1590445-abQVuuKAthKb1Dac0k0O-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.600.1.1502&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-1590447-YEVpdCLZHLmxpTba7smt-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<ns0:RetrieveMultipleValueSetsResponse
        xmlns:ns0=\"urn:ihe:iti:svs:2008\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\">\n
        \   <ns0:DescribedValueSet ID=\"2.16.840.1.113883.3.600.1.1502\" displayName=\"Medical
        or Other reason not done\" version=\"eCQM Update 2018 EP-EC and EH\">\n        <ns0:ConceptList>\n
        \           <ns0:Concept code=\"183932001\" codeSystem=\"2.16.840.1.113883.6.96\"
        codeSystemName=\"SNOMEDCT\" codeSystemVersion=\"2017-03\" displayName=\"Procedure
        contraindicated (situa[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-1590444-t2eaBOoPNyvolmrrfw1X-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-1590452-w1Eq9JBxFegASbgg7KIC-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&release=eCQM%20Update%202018%20EP-EC%20and%20EH&ticket=ST-1590453-JnvEQwzLncHtCL2THx94-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5[...]
