---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: TGT-650950-DZwHI9UVQcwpkv6AogaIaMjptHb5Njv0zeFMavNlwDuCTrWXJA-cas
  recorded_at: Wed, 31 Jul 2019 17:39:19 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-650950-DZwHI9UVQcwpkv6AogaIaMjptHb5Njv0zeFMavNlwDuCTrWXJA-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: ST-1188711-fi7LwN61PtsLIhmWyIdA-cas
  recorded_at: Wed, 31 Jul 2019 17:39:19 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&profile=Latest%20eCQM&ticket=ST-1188717-vHfVaxrfnpi733X0UfNv-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.114222.4.11.836" displayName="Race" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="1002-5" codeSystem="2.16.840.1.113883.6.238" codeSystemName="CDCREC" codeSystemVersion="1.2" displayName="American Indian or Alaska Native"/>
                    <ns0:Concept code="2028-9" codeSystem="2.16.840.1.113883.6.238" codeSystemName="CDCREC" codeSystemVersion="1.2" displayName="Asian"/>
                    <ns0:Concept code="2054-5" codeSystem="2.16.840.1.113883.6.238" codeSystemName="CDCREC" codeSystemVersion="1.2" displayName="Black or African American"/>
                    <ns0:Concept code="2076-8" codeSystem="2.16.840.1.113883.6.238" codeSystemName="CDCREC" codeSystemVersion="1.2" displayName="Native Hawaiian or Other Pacific Islander"/>
                    <ns0:Concept code="2106-3" codeSystem="2.16.840.1.113883.6.238" codeSystemName="CDCREC" codeSystemVersion="1.2" displayName="White"/>
                    <ns0:Concept code="2131-1" codeSystem="2.16.840.1.113883.6.238" codeSystemName="CDCREC" codeSystemVersion="1.2" displayName="Other Race"/>
                </ns0:ConceptList>
                <ns0:Source>Centers for Disease Control National Center for Health Statistics</ns0:Source>
                <ns0:Purpose>(Clinical Focus: ),(Data Element Scope: ),(Inclusion Criteria: ),(Exclusion Criteria: )</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2012-10-25</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Wed, 31 Jul 2019 17:39:19 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&profile=Latest%20eCQM&ticket=ST-1188713-snULRwL0dhUddlq2mIjx-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.560.100.2&profile=Latest%20eCQM&ticket=ST-1188715-dnxFbeeKePbAMukcgIfL-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
   [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.67.1.101.1.279&profile=Latest%20eCQM&ticket=ST-1188719-xiXkj1XuTNF46vC0MpoZ-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.67.1.101.1.269&profile=Latest%20eCQM&ticket=ST-1188711-fi7LwN61PtsLIhmWyIdA-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&profile=Latest%20eCQM&ticket=ST-1188714-LfC11bghEvyRd4Zzty2N-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
     [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1078.5&profile=Latest%20eCQM&ticket=ST-1188712-Q1mFWEb5XbTczur1OhKX-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
    [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.67.1.101.1.278&profile=Latest%20eCQM&ticket=ST-1188716-7cBwVURlEn7Fau6cpde2-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&profile=Latest%20eCQM&ticket=ST-1188718-fy0Ij9C5wsrc25Dup0cZ-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      enc[...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&profile=Latest%20eCQM&ticket=ST-1188725-vxF7KLyCOFZin1iIib6C-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      enc[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.67.1.101.1.279&profile=Latest%20eCQM&ticket=ST-1188731-XXqtaqUctkyzcL95ci7n-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.67.1.101.1.269&profile=Latest%20eCQM&ticket=ST-1188726-BMSOLZAl6k7gbni91tfv-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&profile=Latest%20eCQM&ticket=ST-1188730-YFLr9mj5oWmSfq4yEanZ-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&profile=Latest%20eCQM&ticket=ST-1188723-YreG6Pgf909CZQko7gBW-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1078.5&profile=Latest%20eCQM&ticket=ST-1188729-x9BUCa9E1GRXr5q5RJXO-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
    [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.560.100.2&profile=Latest%20eCQM&ticket=ST-1188728-cwy6k9mgleK90DHGE3Ir-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
   [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&profile=Latest%20eCQM&ticket=ST-1188724-7WjekdhAp51jJoZdqiLZ-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
     [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.67.1.101.1.278&profile=Latest%20eCQM&ticket=ST-1188727-uJgAyFpNdE1f0Tzv31L7-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body[...]
