---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: UTF-8
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: TGT-733011-3DkGRYbp7eyq6TEqIlBd0ZceBMatVtbsHJa26cJf2fBWfcUbdi-cas
  recorded_at: Mon, 16 Oct 2017 15:10:40 GMT
- request:
    method: post
    uri: http://localhost:8080/cql/translator
    body:
      encoding: ASCII-8BIT
      string: "--767841\r\nContent-Disposition: form-data; name=\"file[]\"\r\n\r\nlibrary
        MedianTimefromEDArrivaltoEDDepartureforAdmittedEDPatients version '0.0.019'\n\nusing
        QDM version '5.0.2'\n\ncodesystem \"SNOMEDCT:2016-09\": 'urn:oid:2.16.840.1.113883.6.96'
        version 'urn:hl7:version:2016-09'\n\nvalueset \"ONC Administrative Sex\":
        'urn:oid:2.16.840.1.113762.1.4.1' \n\nvalueset \"Race\": 'urn:oid:2.16.840.1.114222.4.11.836'
        \n\nvalueset \"Ethnicity\": 'urn:oid:2.16.840.1.114222.4.11.837' \n\nvalueset
        \"Payer\": 'urn:oid:2.16.840.1.114222.4.11.3591' \n\nvalueset \"Encounter
        Inpatient\": 'urn:oid:2.16.840.1.113883.3.666.5.307' \n\nvalueset \"Hospital
        Settings\": 'urn:oid:2.16.840.1.113762.1.4.1111.126' \n\nvalueset \"Psychiatric/Mental
        Health Patient\": 'urn:oid:2.16.840.1.113883.3.117.1.7.1.299' \n\ncode \"Emergency
        department patient visit (procedure)\": '4525004' from \"SNOMEDCT:2016-09\"
        display 'Emergency department patient visit (procedure)'\n\nparameter \"Measurement
        Period\" Interval<DateTime>\n\ncontext Patient\n\ndefine \"SDE Ethnicity\":
        [\"Patient Characteristic Ethnicity\": \"Ethnicity\"]\n\ndefine \"SDE Payer\":
        [\"Patient Characteristic Payer\": \"Payer\"]\n\ndefine \"SDE Race\": [\"Patient
        Characteristic Race\": \"Race\"]\n\ndefine \"SDE Sex\": [\"Patient Characteristic
        Sex\": \"ONC Administrative Sex\"]\n\ndefine \"Inpatient Encounter\": [\"Encounter,
        Performed\": \"Encounter Inpatient\"] Encounter\r\n\t\twhere Encounter.lengthOfStay
        <= 120 days\r\n\t\t\tand Encounter.relevantPeriod ends during \"Measurement
        Period\"\n\ndefine \"Stratification2\": \"Inpatient Encounter\" Encounter\r\nwhere
        Encounter.principalDiagnosis in \"Psychiatric/Mental Health Patient\"\n\ndefine
        \"Measure Population\": \"Initial Population\"\n\ndefine \"Initial Population\":
        \"Inpatient Encounter\" Encounter\r\nwith [\"Encounter, Performed\": \"Emergency
        department patient visit (procedure)\"]ED\r\nsuch that ED.relevantPeriod ends
        1 hour or less before or on start of Encounter.relevantPeriod\r\n\r\n/*intersect
        \"RelatedEDVisit\"(Encounter)*/\n\ndefine \"Measure Population Exclusion\":
        \"Inpatient Encounter\" Encounter \r\nwith [\"Encounter, Performed\": \"Emergency
        department patient visit (procedure)\"]ED\r\nsuch that ED.relevantPeriod ends
        1 hour or less before or on start of Encounter.relevantPeriod\r\nand ED.admissionSource
        in \"Hospital Settings\"\n\ndefine \"Startification1\": \"Inpatient Encounter\"
        Encounter \r\nwhere not (Encounter.principalDiagnosis in \"Psychiatric/Mental
        Health Patient\")\n\ndefine function \"RelatedEDVisit\"(Encounter \"Encounter,
        Performed\" ): Last([\"Encounter, Performed\": \"Emergency department patient
        visit (procedure)\"]ED\r\n      where ED.relevantPeriod ends 1 hour or less
        before or on start of Encounter.relevantPeriod \r\n      sort by start of
        relevantPeriod)\n\ndefine function \"MeasureObservation\"(Encounter \"Encounter,
        Performed\" ): duration in minutes of \"RelatedEDVisit\"(Encounter).locationPeriod\n\n\r\n--767841--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=767841
  response:
    status:
      code: 200
      message: OK
    headers:
      Mime-Version:
      - '1.0'
      Content-Type:
      - multipart/form-data;boundary=Boundary_13_1454859546_1508166641180
    body:
      encoding: UTF-8
      string: "--Boundary_13_1454859546_1508166641180\r\nContent-Type: application/elm+json\r\nContent-Disposition:
        form-data; name=\"file[]\"\r\n\r\n{\n   \"library\" : {\n      \"identifier\"
        : {\n         \"id\" : \"MedianTimefromEDArrivaltoEDDepartureforAdmittedEDPatients\",\n
        \        \"version\" : \"0.0.019\"\n      },\n      \"schemaIdentifier\" :
        {\n         \"id\" : \"urn:hl7-org:elm\",\n         \"version\" : \"r1\"\n
        \     },\n      \"usings\" : {\n         \"def\" : [ {\n            \"localIdentifier\"
        : \"System\",\n            \"uri\" : \"urn:hl7-org:elm-types:r1\"\n         },
        {\n            \"localId\" : \"1\",\n            \"localIdentifier\" : \"QDM\",\n
        \           \"uri\" : \"urn:healthit-gov:qdm:v5_0_1_draft\",\n            \"version\"
        : \"5.0.2\"\n         } ]\n      },\n      \"parameters\" : {\n         \"def\"
        : [ {\n            \"localId\" : \"14\",\n            \"name\" : \"Measurement
        Period\",\n            \"accessLevel\" : \"Public\",\n            \"parameterTypeSpecifier\"
        : {\n               \"localId\" : \"13\",\n               \"type\" : \"IntervalTypeSpecifier\",\n
        \              \"pointType\" : {\n                  \"localId\" : \"12\",\n
        \                 \"name\" : \"{urn:hl7-org:elm-types:r1}DateTime\",\n                  \"type\"
        : \"NamedTypeSpecifier\"\n               }\n            }\n         } ]\n
        \     },\n      \"codeSystems\" : {\n         \"def\" : [ {\n            \"localId\"
        : \"2\",\n            \"name\" : \"SNOMEDCT:2016-09\",\n            \"id\"
        : \"urn:oid:2.16.840.1.113883.6.96\",\n            \"version\" : \"urn:hl7:version:2016-09\",\n
        \           \"accessLevel\" : \"Public\"\n         } ]\n      },\n      \"valueSets\"
        : {\n         \"def\" : [ {\n            \"localId\" : \"3\",\n            \"name\"
        : \"ONC Administrative Sex\",\n            \"id\" : \"urn:oid:2.16.840.1.113762.1.4.1\",\n
        \           \"accessLevel\" : \"Public\"\n         }, {\n            \"localId\"
        : \"4\",\n            \"name\" : \"Race\",\n            \"id\" : \"urn:oid:2.16.840.1.114222.4.11.836\",\n
        \           \"accessLevel\" : \"Public\"\n         }, {\n            \"localId\"
        : \"5\",\n       [...]
[...]
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-733011-3DkGRYbp7eyq6TEqIlBd0ZceBMatVtbsHJa26cJf2fBWfcUbdi-cas
    body:
      encoding: UTF-8
      string: service=http%3A%2F%2Fumlsks.nlm.nih.gov
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: ST-1128524-WbxGMCJEyvgeFvU6FW3P-cas
  recorded_at: Mon, 16 Oct 2017 15:10:41 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&profile=Latest%20eCQM&ticket=ST-1128524-WbxGMCJEyvgeFvU6FW3P-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113762.1.4.1" displayName="ONC Administrative Sex" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="F" codeSystem="2.16.840.1.113883.5.1" codeSystemName="AdministrativeGender" codeSystemVersion="HL7V3.0_2016-07" displayName="Female"/>
                    <ns0:Concept code="M" codeSystem="2.16.840.1.113883.5.1" codeSystemName="AdministrativeGender" codeSystemVersion="HL7V3.0_2016-07" displayName="Male"/>
                </ns0:ConceptList>
                <ns0:Source>Office of the National Coordinator for Health Information Technology</ns0:Source>
                <ns0:Purpose>(Clinical Focus: Gender identity restricted to only Male and Female used in administrative situations requiring a restriction to these two categories.),(Data Element Scope: Gender),(Inclusion Criteria: Male and Female only.),(Exclusion Criteria: Any gender identity that is not male or female.)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2015-03-31</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Mon, 16 Oct 2017 15:10:42 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&profile=Latest%20eCQM&ticket=ST-1128526-C5wzdcYMmkkuzuWRGra9-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&profile=Latest%20eCQM&ticket=ST-1128527-exjd5QVyHvuDXkFQgEA2-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&profile=Latest%20eCQM&ticket=ST-1128528-PepBmbUgRPjlcatMtbKX-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
     [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.307&profile=Latest%20eCQM&ticket=ST-1128530-rdtjCQ1VgPYZTIV2hb7Z-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
   [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1111.126&profile=Latest%20eCQM&ticket=ST-1128531-R0CQCP5y3JXQhQRj65NX-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
  [...]
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.299&profile=Latest%20eCQM&ticket=ST-1128532-fJ3Ul1XJCzoRppan3sUs-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:[...]
