---
http_interactions:
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ProfileList>
            <profile>Most Recent Code System Versions in VSAC</profile>
            <profile>C-CDA R2.1 2019-06-28</profile>
            <profile>eCQM Update 2019-05-10</profile>
            <profile>CMS Pre-rulemaking eCQM 2019-05-10</profile>
            <profile>RCKMS Release 1.0 2018-10-31</profile>
            <profile>eCQM Update 2018-09-17</profile>
            <profile>C-CDA R2.1 2018-06-15</profile>
            <profile>eCQM Update 2018-05-04</profile>
            <profile>C-CDA R2.1 2018-02-01</profile>
            <profile>CMS 2018 IQR Voluntary Hybrid Reporting</profile>
            <profile>eCQM Update 2018 EP-EC and EH</profile>
            <profile>eCQM Update 4Q2017 EH</profile>
            <profile>C-CDA R2.1 2017-06-09</profile>
            <profile>eCQM Update 2017-05-05</profile>
            <profile>MU2 Update 2017-01-06</profile>
            <profile>C-CDA R1.1 2016-06-23</profile>
            <profile>MU2 Update 2016-04-01</profile>
            <profile>MU2 Update 2015-05-01</profile>
            <profile>MU2 EP Update 2014-05-30</profile>
            <profile>MU2 EH Update 2014-04-01</profile>
            <profile>MU2 EP Update 2013-06-14</profile>
            <profile>MU2 EH Update 2013-04-01</profile>
            <profile>MU2 Update 2012-12-21</profile>
            <profile>MU2 Update 2012-10-25</profile>
        </ProfileList>
  recorded_at: Tue, 16 Jul 2019 12:00:23 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/program/CMS%20eCQM/latest%20profile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: '{"name":"eCQM Update 2019-05-10","requestTime":"2019-07-16 08:00:23
        AM"}'
  recorded_at: Tue, 16 Jul 2019 12:00:23 GMT
recorded_with: VCR 4.0.0
