---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    body:
      encoding: UTF-8
      string: TGT-659362-4b50QpxKfqQE6tVzoFVrq1ije4Qdvxxcibsvh4U9FlgTeOlPW9-cas
  recorded_at: Thu, 13 Aug 2020 13:22:49 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-659362-4b50QpxKfqQE6tVzoFVrq1ije4Qdvxxcibsvh4U9FlgTeOlPW9-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    body:
      encoding: UTF-8
      string: ST-4190938-B7XmIjJvv7sgKcJQsByt-cas
  recorded_at: Thu, 13 Aug 2020 13:22:50 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.201&profile=Latest%20eCQM&ticket=ST-4190948-cYOeQTJwxitBazBdwFUI-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.201" displayName="Antithrombotic Therapy" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="1037045" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2020-01" displayName="dabigatran etexilate 150 MG Oral Capsule"/>
                    <ns0:Concept code="1037179" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2020-01" displayName="dabigatran etexilate 75 MG Oral Capsule"/>
                    <ns0:Concept code="1092398" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2020-01" displayName=[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=1.3.6.1.4.1.33895.1.3.0.45&profile=Latest%20eCQM&ticket=ST-4190946-lHeg4kAQiMHrOsmc2fgR-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    bod[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.87&profile=Latest%20eCQM&ticket=ST-4190945-uGbuNeQNgOY3vDlL7KCV-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
 [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.207&profile=Latest%20eCQM&ticket=ST-4190947-fBjFfVXkaoOTNw30HCIf-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.207" displayName="Discharged to Health Care Facility for Hospice Care" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="428371000124100" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2019-09" displayName="Discharge to healthcare facility for hospice care (procedure)"/>
                </ns0:ConceptList>
                <ns0:Source>The Joint Commission</ns0:Source>
                <ns0:Purpose>(Clinical Focus: This value set contains concepts that represent procedures used to represent the discharge of a patient to a health care facility for hospice care.),(Data Element Scope: This value set may use the Quality Data Model (QDM) attribute related to Discharge Disposition. The intent of this data element is to identify the final place or setting to which the patient was discharged on the day of discharge from a particular inpatient encounter. This particular value set intends to identify patients who were discharged to a health care facility for hospice care.),(Inclusion Criteria: Includes only relevant concepts associated with SNOMED CT codes representing health care facilities.),(Exclusion Criteria: No exclusions.)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2017-07-25</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Thu, 13 Aug 2020 13:22:53 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.209&profile=Latest%20eCQM&ticket=ST-4190944-PdZ6yfdrXKlGrlxLbHyh-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.292&profile=Latest%20eCQM&ticket=ST-4190957-4ScJshBlgOUsZq13JOeB-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&profile=Latest%20eCQM&ticket=ST-4190956-upUAKrdAxeMutEpH5tbA-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    bod[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.212&profile=Latest%20eCQM&ticket=ST-4190954-e0LEgkkmdQERtSdxJxRq-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.247&profile=Latest%20eCQM&ticket=ST-4190955-bDKp9JAm930KhcfYm4A7-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.308&profile=Latest%20eCQM&ticket=ST-4190941-LZBdkhgMDz1rowxOpZ2J-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.473&profile=Latest%20eCQM&ticket=ST-4190953-RsY3BfKeLaVG1p7z0ubT-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.424&profile=Latest%20eCQM&ticket=ST-4190940-x2GQcwlfc0i9nn15Ujpv-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1111.143&profile=Latest%20eCQM&ticket=ST-4190938-B7XmIjJvv7sgKcJQsByt-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
   [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&profile=Latest%20eCQM&ticket=ST-4190939-X4yDAIef4M2xnsbIHO4G-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    body:
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.309&profile=Latest%20eCQM&ticket=ST-4190952-539YbMbubYR2E7zSeaue-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.93&profile=Latest%20eCQM&ticket=ST-4190949-zjkIQVeNO5OkNs6gOc9w-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
 [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&profile=Latest%20eCQM&ticket=ST-4190951-bfc6UOlJLxdUKvgThcLz-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    bo[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&profile=Latest%20eCQM&ticket=ST-4190950-CHUOVTIQKvNmm1vhWnXE-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    bod[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1110.39&profile=Latest%20eCQM&ticket=ST-4190943-KFDhuEtbxrVsSpudOjmE-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.307&profile=Latest%20eCQM&ticket=ST-4190942-akg4WmvxC1UzjMiCoHhw-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.87 8080"
    [...]
