---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: TGT-229707-HQ4sJfNCEb7v4y9WCxNwfXSwdUHfgvezxO4hk4d9inoLZPlvNB-cas
  recorded_at: Tue, 16 Jul 2019 11:59:20 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-229707-HQ4sJfNCEb7v4y9WCxNwfXSwdUHfgvezxO4hk4d9inoLZPlvNB-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: ST-381777-5nYGpw5c2ydDrisdyD0w-cas
  recorded_at: Tue, 16 Jul 2019 11:59:20 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1158&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-381776-VRbL5iZXQL6mF2PqRueK-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-07-16T11:59:20.789+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Tue, 16 Jul 2019 11:59:20 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1151&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-381773-rgg9fddgbXgUty6Ui7zp-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-07-16T11:59:20.787+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Tue, 16 Jul 2019 11:59:20 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1154&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-381769-Boa3nE0rb54dqAFnRzep-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-07-16T11:59:20.791+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Tue, 16 Jul 2019 11:59:20 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1074&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-381771-nEXwz0MWG0kKWwEtZ9Ye-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-07-16T11:59:20.786+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Tue, 16 Jul 2019 11:59:20 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1019&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-381777-5nYGpw5c2ydDrisdyD0w-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-07-16T11:59:20.790+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Tue, 16 Jul 2019 11:59:20 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1004.1418&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-381774-hIGlIcDGaphJSkFiU1PQ-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-07-16T11:59:20.791+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Tue, 16 Jul 2019 11:59:20 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1153&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-381772-hBq0tJnYhnqy9HXYdNVt-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-07-16T11:59:20.793+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Tue, 16 Jul 2019 11:59:20 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1152&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-381775-n4tcKC5HgZcKd1utvWVR-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.464.1003.105.12.1152" displayName="Pervasive Developmental Disorder" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="191689008" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2018-09" displayName="Active infantile autism (disorder)"/>
                    <ns0:Concept code="191690004" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2018-09" displayName="Residual infantile autism (disorder)"/>
                    <ns0:Concept code="231536004" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2018-09" displayNa[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.67.1.101.1.128&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-381770-0HCgk2G6emvzVT3kP1bi-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.11[...]
