---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: TGT-1671638-c6MynrpdFx6cHdiIpBvsiF34cZfMysJtR1sBaN6aum6dpFTr2b-cas
  recorded_at: Wed, 14 Aug 2019 17:43:48 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-1671638-c6MynrpdFx6cHdiIpBvsiF34cZfMysJtR1sBaN6aum6dpFTr2b-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: ST-2479044-2lEC1OphE7tKLmCc9sJr-cas
  recorded_at: Wed, 14 Aug 2019 17:43:49 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1158&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-2479050-eXADxAgAuOT2R4nGJj0S-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-08-14T17:43:50.395+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Wed, 14 Aug 2019 17:43:50 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1153&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-2479068-4YJldfPNHZdzeOfUvFaN-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-08-14T17:43:50.397+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Wed, 14 Aug 2019 17:43:50 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1004.1418&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-2479047-dRS24j3K7OiGiQFCQnOU-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-08-14T17:43:50.398+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Wed, 14 Aug 2019 17:43:50 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1151&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-2479046-b9L9QIpnmZeIQvRecb2e-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-08-14T17:43:50.457+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Wed, 14 Aug 2019 17:43:50 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1154&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-2479069-KAa5Vx4gRI1xmeGev47p-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-08-14T17:43:50.462+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Wed, 14 Aug 2019 17:43:50 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.101.12.1074&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-2479048-aC6xfHybvtqwgMLMuSaS-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-08-14T17:43:50.460+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Wed, 14 Aug 2019 17:43:50 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1019&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-2479044-2lEC1OphE7tKLmCc9sJr-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: '{"timestamp":"2019-08-14T17:43:50.465+0000","status":500,"error":"Internal
        Server Error","message":"org.springframework.web.util.NestedServletException:
        Request processing failed; nested exception is java.lang.NullPointerException","path":"/vsac/svs/RetrieveMultipleValueSets"}'
  recorded_at: Wed, 14 Aug 2019 17:43:50 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.67.1.101.1.128&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-2479049-qLZkac7DH9F2FckEIfMu-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.67.1.101.1.128" displayName="Bipolar Disorder" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="10875004" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2018-09" displayName="Severe mixed bipolar I disorder with psychotic features, mood-incongruent (disorder)"/>
                    <ns0:Concept code="10981006" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2018-09" displayName="Severe mixed bipolar I disorder with psychotic features (disorder)"/>
                    <ns0:Concept code="111485001" codeSystem="2.16.840.[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.464.1003.105.12.1152&includeDraft=yes&profile=Latest%20eCQM&ticket=ST-2479045-KNLjMKcxwTtbzAkZD5RY-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10[...]
