---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: apikey=<VSAC_API_KEY>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    body:
      encoding: UTF-8
      string: TGT-1695021-mCew0zMTaDaWFZbCc7OiEfvbHEHrDS2KaFXTgCNdkVIrFXp4qX-cas
  recorded_at: Thu, 15 Apr 2021 17:24:45 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values?alt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Thu, 15 Apr 2021 17:24:46 GMT
    body:
      encoding: UTF-8
      string: '{"version":"1.0","encoding":"UTF-8","feed":{"xmlns":"http://www.w3.org/2005/Atom","xmlns$openSearch":"http://a9.com/-/spec/opensearchrss/1.0/","xmlns$gsx":"http://schemas.google.com/spreadsheets/2006/extended","id":{"$t":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values"},"updated":{"$t":"2021-04-15T17:24:46.470Z"},"category":[{"scheme":"http://schemas.google.com/spreadsheets/2006","term":"http://schemas.google.com/spreadsheets/2006#list"}],"title":{"type":"text","$t":"Sheet1"},"link":[{"rel":"alternate","type":"application/atom+xml","href":"https://docs.google.com/spreadsheets/d/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/pubhtml"},{"rel":"http://schemas.google.com/g/2005#feed","type":"application/atom+xml","href":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values"},{"rel":"http://schemas.google.com/g/2005#post","type":"application/atom+xml","href":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values"},{"rel":"self","type":"application/atom+xml","href":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values?alt\u003djson"}],"author":[{"name":{"$t":"serhii.ilin"},"email":{"$t":"serhii.ilin@semanticbits.com"}}],"openSearch$totalResults":{"$t":"81"},"openSearch$startIndex":{"$t":"1"},"entry":[{"id":{"$t":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values/cokwr"},"updated":{"$t":"2021-04-15T17:24:46.470Z"},"category":[{"scheme":"http://schemas.google.com/spreadsheets/2006","term":"http://schemas.google.com/spreadsheets/2006#list"}],"title":{"type":"text","$t":"urn:oid:2.16.840.1.113883.6.96"},"content":{"type":"text","$t":"url:
        http://snomed.info/sct, codesystemname: SNOMEDCT"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values/cokwr"}],"gsx$oid":{"$t":"urn:oid:2.16.840.1.113883.6.96"},"gsx$url":{"$t":"http://snomed.info/sct"},"gsx$codesystemname":{"$t":"SNOMEDCT"},"gsx$fhircodesystemname":{"$t":""},"gsx$comment":{"$t":""}},{"id":{"$t":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values/cpzh4"},"updated":{"$t":"2021-04-15T17:24:46.470Z"},"category":[{"scheme":"http://schemas.google.com/spreadsheets/2006","term":"http://schemas.google.com/spreadsheets/2006#list"}],"title":{"type":"text","$t":"urn:oid:2.16.840.1.113883.5.1001"},"content":{"type":"text","$t":"url:
        http://terminology.hl7.org/CodeSystem/v3-ActMood, codesystemname: ActMood,
        fhircodesystemname: v3.ActMood"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08dFOvW7_ysyAN8vxuc/od6/public/values/cpzh4"}],"gsx$oid":{"$t":"urn:oid:2.16.840.1.113883.5.1001"},"gsx$url":{"$t":"http://terminology.hl7.org/CodeSystem/v3-ActMood"},"gsx$codesystemname":{"$t":"ActMood"},"gsx$fhircodesystemname":{"$t":"v3.ActMood"},"gsx$comment":{"$t":""}},{"id":{"$t":"https://spreadsheets.google.com/feeds/list/15Tje3oiUfYgU24RiX-fUs-hH08[...]
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-1695021-mCew0zMTaDaWFZbCc7OiEfvbHEHrDS2KaFXTgCNdkVIrFXp4qX-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.88 8080"
    body:
      encoding: UTF-8
      string: ST-3425415-pG7DKXnr1dBYA57FgTFf-cas
  recorded_at: Thu, 15 Apr 2021 17:24:46 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.201&profile=Latest%20eCQM&ticket=ST-3425426-aIaGrR2iVh3MVuGOahL4-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.201" displayName="Antithrombotic Therapy_Anticoagulant" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="1037045" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2021-01" displayName="dabigatran etexilate 150 MG Oral Capsule"/>
                    <ns0:Concept code="1037179" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2021-01" displayName="dabigatran etexilate 75 MG Oral Capsule"/>
                    <ns0:Concept code="1114198" codeSystem="2.16.840.1.113883.6.88" codeSystemName="RXNORM" codeSystemVersion="2021-01" displayName=[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=1.3.6.1.4.1.33895.1.3.0.45&profile=Latest%20eCQM&ticket=ST-3425425-qRAobRVJRlsRwwHUAeE4-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    bod[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.87&profile=Latest%20eCQM&ticket=ST-3425424-fcsZO32FDmtyv1gGs0SL-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
 [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.207&profile=Latest%20eCQM&ticket=ST-3425435-GbeZbnEAF6hhjfhZsiHE-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.207" displayName="Discharged to Health Care Facility for Hospice Care" version="N/A">
                <ns0:ConceptList>
                    <ns0:Concept code="428371000124100" codeSystem="2.16.840.1.113883.6.96" codeSystemName="SNOMEDCT" codeSystemVersion="2020-09" displayName="Discharge to healthcare facility for hospice care (procedure)"/>
                </ns0:ConceptList>
                <ns0:Source>The Joint Commission</ns0:Source>
                <ns0:Purpose>(Clinical Focus: The purpose of this value set is to represent concepts for an encounter with a discharge disposition of a patient to a health care facility for hospice care.),(Data Element Scope: This value set may use a model element related to Encounter.),(Inclusion Criteria: Includes concepts that represent an encounter with a discharge disposition to a health care facility.),(Exclusion Criteria: No exclusions.)</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2021-02-20</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Thu, 15 Apr 2021 17:24:50 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.209&profile=Latest%20eCQM&ticket=ST-3425423-DjUP5ZBCznzeDFetxedY-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.292&profile=Latest%20eCQM&ticket=ST-3425432-RTVJfcMDCNbydN56Fgea-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&profile=Latest%20eCQM&ticket=ST-3425430-tuFWtJtiAk3OGHhz609G-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    bod[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.212&profile=Latest%20eCQM&ticket=ST-3425421-Iq2GRrargqR2yX6YgdT6-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.247&profile=Latest%20eCQM&ticket=ST-3425422-MYcaq7M5P090mqTLVzRn-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.308&profile=Latest%20eCQM&ticket=ST-3425429-LrJf6HCnBjyaWT1fs5jt-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.473&profile=Latest%20eCQM&ticket=ST-3425428-U1XqKN1iQO3bCDSGjiUa-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.424&profile=Latest%20eCQM&ticket=ST-3425420-xjxzvxnI1icSCfBbwpb7-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1111.143&profile=Latest%20eCQM&ticket=ST-3425433-Vdggjw6MgngzfYQ2G9CX-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
   [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&profile=Latest%20eCQM&ticket=ST-3425427-DncRrcd6UiuaJy5nmns5-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    body:
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.309&profile=Latest%20eCQM&ticket=ST-3425431-3EiW1gfZqDpxcwx5nPlB-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.93&profile=Latest%20eCQM&ticket=ST-3425434-rA3xnyieU9blPhLTUc7t-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
 [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&profile=Latest%20eCQM&ticket=ST-3425417-dX4U1JqV9WqGijtJBOC3-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    bo[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&profile=Latest%20eCQM&ticket=ST-3425418-HYGuQqR3cNSK695YZQfl-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    bod[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1110.39&profile=Latest%20eCQM&ticket=ST-3425419-KJcxUMO6q5iU02UeYWZb-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.307&profile=Latest%20eCQM&ticket=ST-3425415-pG7DKXnr1dBYA57FgTFf-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 2607:f220:41e:1016::40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.89 8080"
    [...]
