---
http_interactions:
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket
    body:
      encoding: US-ASCII
      string: username=<VSAC_USERNAME>&password=<VSAC_PASSWORD>
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: TGT-1614824-9zKGldokhMK5R2F6YeTI2tDNZOnQNvSuXInWUteoB3Grg9ron1-cas
  recorded_at: Wed, 26 Jun 2019 01:21:57 GMT
- request:
    method: post
    uri: https://vsac.nlm.nih.gov/vsac/ws/Ticket/TGT-1614824-9zKGldokhMK5R2F6YeTI2tDNZOnQNvSuXInWUteoB3Grg9ron1-cas?service=http://umlsks.nlm.nih.gov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/plain;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: ST-6424748-9HWdjHfO7kagV3UMlM1T-cas
  recorded_at: Wed, 26 Jun 2019 01:21:57 GMT
[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.299&release=Fake%201234&ticket=ST-6424755-A4o3zue6ucZH3MwzgRak-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.113883.3.117.1.7.1.299" displayName="Psychiatric/Mental Health Diagnosis" version="N/A">
                <ns0:ConceptList/>
                <ns0:Source>Lantana</ns0:Source>
                <ns0:Purpose>(Clinical Focus: This value set grouping contains concepts that represent diagnoses commonly used in the inpatient setting for psychiatric and mental health disorders.),(Data Element Scope: This value set may use the Quality Data Model (QDM) category or attributes related to Diagnosis. The intent of this data element is to identify patients who have an active diagnosis of a psychiatric or mental health disorder.),(Inclusion Criteria: Includes only relevant concepts associated with representing an active diagnosis for psychiatric and mental health disorders using ICD-10-CM and SNOMED CT codes systems.),(Exclusion Criteria: No exclusions.)</ns0:Purpose>
                <ns0:Definition>(2.16.840.1.113883.3.117.1.7.1.296:Psychiatric/Mental Health Diagnosis),(2.16.840.1.113883.3.117.1.7.1.298:Psychiatric/Mental Health Diagnosis)</ns0:Definition>
                <ns0:Type>Grouping</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2019-06-25</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Wed, 26 Jun 2019 01:21:58 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1&release=Fake%201234&ticket=ST-6424756-STsTXyPXkeeSURDPGGfh-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
      encod[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.87&release=Fake%201234&ticket=ST-6424753-NbueeQULtsn0f2LtEV6Q-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
  [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.117.1.7.1.292&release=Fake%201234&ticket=ST-6424750-Q5poCmeiuzHlhPeJbv7K-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.112 8080"
    body:
 [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113883.3.666.5.307&release=Fake%201234&ticket=ST-6424752-NiWnThXDvMOB2wJxQ7pz-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
     [...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.837&release=Fake%201234&ticket=ST-6424751-q3NkWD1KTOsyUYmkHbtU-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.111 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.114222.4.11.837" displayName="Ethnicity" version="N/A">
                <ns0:ConceptList/>
                <ns0:Source>Centers for Disease Control National Center for Health Statistics</ns0:Source>
                <ns0:Purpose>(Clinical Focus: ),(Data Element Scope: ),(Inclusion Criteria: ),(Exclusion Criteria: )</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2019-06-25</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Wed, 26 Jun 2019 01:21:58 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.3591&release=Fake%201234&ticket=ST-6424749-kCHeWmvj5oRbHeCccTdW-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.110 8080"
    body:
      e[...]
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.114222.4.11.836&release=Fake%201234&ticket=ST-6424754-oMDe7gGcgMdhyE0TmwI6-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <ns0:RetrieveMultipleValueSetsResponse xmlns:ns0="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ns0:DescribedValueSet ID="2.16.840.1.114222.4.11.836" displayName="Race" version="N/A">
                <ns0:ConceptList/>
                <ns0:Source>Centers for Disease Control National Center for Health Statistics</ns0:Source>
                <ns0:Purpose>(Clinical Focus: ),(Data Element Scope: ),(Inclusion Criteria: ),(Exclusion Criteria: )</ns0:Purpose>
                <ns0:Type>Extensional</ns0:Type>
                <ns0:Binding>Dynamic</ns0:Binding>
                <ns0:Status>Active</ns0:Status>
                <ns0:RevisionDate>2019-06-25</ns0:RevisionDate>
            </ns0:DescribedValueSet>
        </ns0:RetrieveMultipleValueSetsResponse>
  recorded_at: Wed, 26 Jun 2019 01:21:58 GMT
- request:
    method: get
    uri: https://vsac.nlm.nih.gov/vsac/svs/RetrieveMultipleValueSets?id=2.16.840.1.113762.1.4.1111.143&release=Fake%201234&ticket=ST-6424748-9HWdjHfO7kagV3UMlM1T-cas
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - text/xml;charset=utf-8
      X-Vip-Info:
      - 130.14.16.40:443
      X-Pool-Info:
      - "/Common/vsacweb_p 10.1.5.114 8080"
    body:
    [...]
