<div class="container-fluid">
  <div class="row">

    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="cql">CQL</label>
          <textarea id="cql" class="form-control" rows="22">{{cql}}</textarea>
        </div>
        <div class="form-group">
          <button id="get-elm" class="btn btn-primary">Get ELM</button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label>ELM</label>
          <pre class="elm">
{{elm}}
          </pre>
        </div>
      </form>

    </div>

  </div>
</div>
