<div class="modal fade" id="cqlTestDialog" tabindex="-1" aria-hidden="true">
  <div class="cql-modal modal-dialog" role="dialog" aria-labelledby="modalTitle">
    <div class="modal-content">
      <div class="modal-header">
        {{#button "close" class="close" data-dismiss="modal" aria-hidden="true"}}&times;{{/button}}
        <h1 class="modal-title" id="modalTitle">CQL Playground</h1>
      </div>
      <div class="modal-body">
        <div class="row vdivide">
          <div class="col-md-9">
            <div class="cql-editor" id="editor"></div>
          </div>
          <div class="col-md-3">
            <input type="submit" value="Evaluate" class="btn btn-primary btn-block" data-call-method="evaluateCql">
            <br>
            results
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
