<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bonnie v<%=Bonnie::Version.current()%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div class="landing-masthead">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="logo">BONNIE</h1>
            <p class="tagline">A tool for testing electronic clinical quality measures</p>
          </div>
          <div class="login col-md-4">
            <a href="/users/sign_in" class="btn-login">login</a>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-subhead">
      <div class="container">
        <a target="_blank" href="/resource/Bonnie_user_guide.pdf" class="btn btn-default">learn more</a>
      </div>
    </div> 
    <div class="container">
      <section class="highlights row">
        <div class="col-md-4">
          <h2>streamlined and efficient</h2>
          <i class="fa fa-fighter-jet lg"></i>
          <p>pretesting for eCQMs</p>
        </div>
        <div class="col-md-4">
          <h2>developer empowerment</h2>
          <i class="fa fa-bolt lg"></i>
          <p>provides specific feedback on the behavior of the CQM logic</p>
        </div>
        <div class="col-md-4">
          <h2>meaningful use support</h2>
          <i class="fa fa-plus lg"></i>
          <p>supports the Meaningful Use (MU) Program</p>
        </div>
      </section>
      <section>
        <p class="lead">Bonnie is a tool for testing electronic clinical quality measures (eCQMs) designed to support streamlined and efficient pre-testing of eCQMs, particularly those used in the Meaningful Use (MU) program.</p>
      </section>
      <section class="row">
        <div class="col-md-6 section-heading">
          <h1 class="section-heading">Current <span class="version-num">Version 1.3</span></h1>
          <p>The version 1.3 release of Bonnie introduces a new Patient Bank feature and a new Complexity and Change Analysis Dashboard. The Patient Bank enables users to share test patient records with each other, allowing users to more quickly build sets of test patients for measures being tested. The Complexity and Change Analysis Dashboard provides a high level visual representation of how measures have changed in size and complexity between versions.</p>
        </div>
        <div class="col-md-6">
          <h1 class="section-heading">Capabilities<span class="version-num"> v1.3</span></h1>
          <ul class="list-cap">
            <li>A Patient Bank, allowing Bonnie users to share test patient records with each other</li>
            <li>A Complexity and Change Analysis Dashboard, providing a high level visual representation of how measures have changed in size and complexity between versions</li>
          </ul>
        </div>
      </section>
    </div>
    <footer>
      <div class="container">
        <p>BONNIE is sponsored by the <a href="http://cms.hhs.gov/">Centers for Medicare & Medicaid Services (CMS)</a> and <a href="http://healthit.gov">Office of the National Coordinator for Health Information Technology (ONC)</a> and has been developed by <a href="http://www.mitre.org">The MITRE Corporation</a></p>
      </div>
    </footer>
  </body>
</html>