{{!FIXME: Figure out where the section headers should link to...}}
<h3 class="pHtml">{{#link "#toc" class="pHtml" expand-tokens=true}}{{getSection}} Section{{/link}}</h3>
<table class="narr_table" border="1" width="100%">
  <thead>
    <tr class="narr_tr">
      <th class="narr_th" width=30%>Description</th>
      <th class="narr_th" width=15%>Codes</th>
      <th class="narr_th" width=15%>Time</th>
      <th class="narr_th" width=10%>Status</th>
      <th class="narr_th" width=15%>Results</th>
      <th class="narr_th" width=15%>Fields</th>
    </tr>
  </thead>
  <tbody id="{{section}}">