<div class="panel">
  <p>This is the grand ol' patient bank</p>
</div>

<div class="row">

  <div class="col-sm-4">
    logic
    {{!-- logic --}}
  </div>

  </div class="col-sm-8">
    <h1>Filters</h1>
    Filters
    <h1>Results</h1>
    results
  </div>

</div>
