development:
  clients:
    default:
      database: bonnie_development
      hosts:
        - localhost:27017
  options:
    raise_not_found_error: false
test:
  clients:
    default:
      database: bonnie_test
      hosts:
        - localhost:27017
      options:
        #read: primary
        # In the test environment we lower the retries and retry interval to
        # low amounts for fast failures.
        max_retries: 1
        retry_interval: 0
  options:
    raise_not_found_error: false
production:
  clients:
    default:
      database: bonnie_production
      hosts:
        - localhost:27017
  options:
    raise_not_found_error: false
