{{#if fieldValue}}
<p>
  <select name="key" class="form-control">
    <option value="">--</option>
    {{#each fields}}
      <option value="{{key}}">{{title}}</option>
    {{/each}}
  </select>
</p>
{{/if}}

<div class="row">
  <div class="col-md-3">
    <select name="type">
      <option value="PQ" data-icon="fa fa-pencil-square-o">Scalar</option>
      <option value="CD" data-icon="fa fa-list">Coded</option>
      {{#if fieldValue}}
        <option value="TS" data-icon="fa fa-calendar">Time</option>
      {{/if}}
    </select>
  </div>

  {{#ifCond type '==' 'PQ'}}
    <div class="col-md-6">
      <input type="text" name="value" class="form-control" placeholder="input">
    </div>
    <div class="col-md-2">
      <input type="text" name="unit" class="form-control" placeholder="units">
    </div>
  {{/ifCond}}

  {{#ifCond type '==' 'CD'}}
    <div class="col-md-8">
      <select name="code_list_id" class="form-control">
        <option value="">--</option>
        {{#each codes tag="select" name="code_list_id"}}
          <option value="{{oid}}">{{display_name}}</option>
        {{/each}}
      </select>
    </div>
  {{/ifCond}}

  {{#ifCond type '==' 'TS'}}
    <div class="col-md-5">
      <input type="text" name="start_date" class="date-picker form-control" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true">
    </div>
    <div class="col-md-3">
      <input type="text" name="start_time" class="time-picker form-control" placeholder="--:-- --" data-show-inputs="false" data-default-time="8:00 AM">
    </div>
  {{/ifCond}}

  <div class="col-md-1">
    {{#button "addValue" class="btn btn-primary pull-right" disabled="disabled"}}
      <i class="fa fa-plus"></i>
      <span class="sr-only">add {{#if fieldValue}}field {{/if}}value</span>
    {{/button}}
  </div>
</div>
