<div class="value-form">
  <div class="input-group">
    {{#if fieldValue}}
      <div class="field-value">
        <select name="id" class="form-control">
          <option value="">--</option>
          {{#each fields}}
            <option value="{{@key}}">{{title}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}
    
    <div class="input-group-btn">
      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Type <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>{{#button "setScalarValue" tag="a"}}<i class="fa fa-pencil-square-o"></i> Scalar{{/button}}</li>
        <li>{{#button "setCodedValue" tag="a"}}<i class="fa fa-list"></i> Coded{{/button}}</li>
        {{#if fieldValue}}
          <li>{{#button "setTimeValue" tag="a"}}<i class="fa fa-calendar"></i> Time{{/button}}</li>
        {{/if}}
      </ul>
    </div>
    
    {{#if typePQ}}
      <div class="inputs">
       <span class="form-control-input"><input type="text" name="value" class="form-control" id="event-start" placeholder="input"></span>
        <span class="form-control-units"><input type="text" name="unit" class="form-control" id="event-start-time" placeholder="units"></span>
      </div>
    {{/if}}

    {{#if typeCD}}
      <div class="inputs inputs-cd">
        <select name="code_list_id" class="form-control">
          <option value="">--</option>
          {{#each codes tag="select" name="code_list_id"}}
            <option value="{{oid}}">{{display_name}}</option>
          {{/each}}
        </select>
      </div>
    {{/if}}

    {{#if typeTS}}
      <div class="inputs">
        <input type="text" name="start_date" class="form-control form-control-date" placeholder="xx/xx/xxxx">
        <input type="text" name="start_time" class="form-control form-control-time" placeholder="xx:xx">
      </div>
    {{/if}}

    {{#button "addValue" class="btn btn-primary pull-right"}}<i class="fa fa-plus"></i>{{/button}}
  </div>
</div>