<div class="existing-values">
{{#each codes}}
  <span>
    {{system}}:
    {{code}}
    <button data-call-method="removeCode" class="btn btn-link close delete" data-code-index="{{index}}">&times; <span class="sr-only">Delete</span></button>
  </span>
{{/each}}
</div>