<div class="form-group">
  <label class="control-label"><i class="fa fa-code" aria-hidden="true"></i> Codes<input class="sr-only" disabled></label>
  {{view editCodesDisplayView}}
  {{view editCodeSelectionView}}
</div>