<div class="expected-values">
  <form class="form-inline" role="form">
    {{#each currentCriteria}}
      <div class="checkbox">
        <label>
          <input type="checkbox" id="{{this}}"> {{this}}
        </label>
      </div>
    {{/each}}
  </form>
</div>