<form class="form">
  <div class="pull-right">
    <a class="all-details close">&times;</a>
  </div>
  <div class="form-group">
    <label>Event Start</label>
    <input type="text" class="form-control" placeholder="xx/xx/xxxx" value="">
  </div>
  <div class="form-group">
    <label>Event End</label>
    <input type="text" class="form-control" placeholder="xx/xx/xxxx">
    <label><input type="checkbox"> null</label>
  </div>
  <div>
    {{#button "newValue" class="btn btn-default"}}New Value{{/button}}
  </div>
  <div>
    {{#button "newFieldValue" class="btn btn-default"}}New Field Value{{/button}}
  </div>
  <a class="all-details close btn">cancel</a>
  <a class="submit btn">submit</a>
</form>
