<div class="form-group">
  <div class="pull-right">
    <a class="value close">&times;</a>
  </div>
  <label>Value</label>
  <select><option>--</option></select>
  <label class="radio-inline">
    <input type="radio" value="value"> Value
  </label>
  <label class="radio-inline">
    <input type="radio" value="coded"> Coded
  </label>
  <label class="radio-inline">
    <input type="radio" value="time"> Time
  </label>
  <input type="text" placeholder="scalar">
  <input type="text" placeholder="unit">
</div>


