
<div class="row">
  <div class="col-md-6">
    <h2>Before Latest Measure Upload</h2>
    {{#if populationInBefore}}
      {{view populationLogicViewBefore}}
    {{else}}
      <br><br>
      <h3>The selected population does not exist in the prior version of the measure.</h3>
    {{/if}}
  </div>
  
  <div class="col-md-6">
    <h2>Current Bonnie Version of the Measure</h2>
    {{view populationLogicViewAfter}}
  </div>
</div>
