
<div class="row">
  <div class="col-md-6">
    <h2>Before Measure Upload</h2>
    {{view populationLogicViewBefore}}
  </div>
  
  <div class="col-md-6">
    <h2>After Measure Upload</h2>
    {{view populationLogicViewAfter}}
  </div>
</div>
