
<div class="row">
  <div class="col-md-6">
    <h2>Before Latest Measure Upload</h2>
    {{view populationLogicViewBefore}}
  </div>
  
  <div class="col-md-6">
    <h2>Current Bonnie Version of the Measure</h2>
    {{view populationLogicViewAfter}}
  </div>
</div>
