<div class="row">
  <div class="col-xs-3">
    Measure details: {{measure.id}}
    {{#each dataCriteriaCategories}}
      <p>
        <b>{{@key}}</b><br>
        {{#collection this}}
          <div class="draggable">{{title}}</div>
        {{/collection}}
      </p>
    {{/each}}
  </div>
  <form class="col-xs-9 form-horizontal">
    <div class="form-group">
      <label for="first" class="col-xs-2 control-label">First name</label>
      <div class="col-xs-10">
        <input type="text" name="first" class="form-control" id="first" placeholder="First name">
      </div>
    </div>
    <div class="form-group">
      <label for="last" class="col-xs-2 control-label">Last name</label>
      <div class="col-xs-10">
        <input type="text" name="last" class="form-control" id="last" placeholder="Last name">
      </div>
    </div>
    <div class="droppable well">
      {{view editCriteriaCollectionView}}
    </div>
    <input type="submit" class="btn btn-default" value="Save">
  </form>
</div>
