<h1 class="heading-muted"><i class="fa fa-tasks" aria-hidden="true"></i> {{cms_id}}</h1>
<p class="submeasure">{{title}}</p>
{{#unless isCompareView}}<div class="logic-pager up"></div>{{/unless}}
<div class="scrolling">
	{{layout-element}}
</div>
{{#unless isCompareView}}<div class="logic-pager down"></div>{{/unless}}