<h1 class="heading-muted"><i class="fa fa-tasks" aria-hidden="true"></i> {{cms_id}}</h1>
<p class="submeasure">{{title}}</p>
<div class="logic-pager up"></div>
<div class="scrolling">
	{{layout-element}}
</div>
<div class="logic-pager down"></div>