<div class="unsupported-primarypath-codes">
<span>
    {{#if primaryCodePath}}{{primaryCodePath}} is complex and not supported in this section. Please use the attribute section below{{else}}No primary path exists for this resource{{/if}}
</span>
</div>