<h1>
Patients List<%= render 'layouts/dots'%>
</h1><!-- START Nav Tabs -->
<div id="tabs">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#patients" class="btn btn-primary" data-toggle="tab">Patients</a></li>
    <li id="pageButtons">
      <%= link_to "Add Patient", new_patient_path, class:"btn btn-info" %>
      <%= link_to "Calculate", '', class:"btn btn-info" %>
    </li>
  </ul>

  <!-- START Patients List content -->
  <div class="tab-content">
  <div id="tabs-0", class="tab-pane active">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Ethnicity</th>
          <th>Race</th>
          <th>Payer</th>
          <th>Expired</th>
          <th>Birthdate</th>
          <th>Clinical Attributes</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => 'patient', :collection => @patients %>
      </tbody>
    </table>
  </div>
  <!-- END Patients List content -->

</div>
<!-- END Nav Tabs -->