{{! TODO: Remove this outdated message once CQL settles for production. Currently needed because the volatile annotation structure. }}
{{#if isOutdatedUpload}}
<p>
  <div class="alert alert-warning">
    <strong>Warning!</strong> This view may not show accurate logic right now. Stay tuned for a new version with clause highlighting.
  </div>
</p>
{{/if}}
{{#if hasCqlErrors}}
<p>
  <div class="alert alert-warning">
    <Strong>CQL Error!</strong> This measure appears to have errors in its CQL.
    <pre>
{{cqlErrorMessage}}
    </pre>
  </div>
</p>
{{/if}}
<div class="cql-logic measure-viz rationale panel-group">
  {{#each statementViews}}
    {{view .}}
  {{/each}}
</div>
