{{#if cqlPopulation}}
  <div class="cql-population-name">{{cqlPopulation}}</div>
{{/if}}
<span class="cql-statement{{#if cqlPopulation}} cql-statement-population{{/if}}"><code>{{view rootClauseView}}</code></span>
