{{#collection tag="ul" class="nav nav-tabs" item-context=populationContext}}
  <li{{#if isActive}} class="active"{{/if}}>{{#button "switchPopulation" tag="a" data-toggle="tab"}}{{title}}{{/button}}</li>
{{/collection}}

{{layout-element}}
