<div id="measure_logic" class="rationale">
  LOGIC
{{!--   {{view populationViews}}
 --}}

  {{#each submeasurePopulations}}
    {{view "PopulationCriteriaLogic" population=this dataCriteriaMap=../data_criteria sourceDataCriteria=../source_data_criteria}}
  {{/each}}
</div>
