<div class="measure-viz rationale">
  {{#each submeasurePopulations}}
    {{view "PopulationCriteriaLogic" population=this dataCriteriaMap=../dataCriteriaMap sourceDataCriteria=../sourceDataCriteria}}
  {{/each}}
</div>
