<div id="measure_logic" class="rationale">
  {{#each submeasurePopulations}}
    {{view "PopulationCriteriaLogic" population=this dataCriteriaMap=../dataCriteriaMap sourceDataCriteria=../sourceDataCriteria}}
  {{/each}}
</div>
