<div>
  <div>{{population.type}}</div>
  <div>
    {{#each rootPrecondiiton.preconditions}}
      {{view "PreconditionLogic" precondition=this parentPrecondition=../rootPrecondiiton dataCriteriaMap=../dataCriteriaMap}}
    {{/each}}
  </div>
</div>