<div class="modal fade" id="errorDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{error.title}}</h1>
      </div>
      <div class="modal-body">
        {{#if error.summary}}
          <div>
            <h4>{{error.summary}}</h4>
          </div>
        {{/if}}
        <p>
          {{{error.body}}}
        </p>
        <p>
          If the problem continues please contact <a href="mailto:bonnie-talk@googlegroups.com">bonnie-talk@googlegroups.com</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
