<div class="error-page">
<h1 class="text-primary">Page Not Found</h1>
<p class="text-center text-info">
  <strong>
    <i class="fa fa-fw fa-3x fa-question-circle" aria-hidden="true"></i>
    <img src="/assets/Rabbit-96-blue.png" alt = "">
    <i class="fa fa-fw fa-3x fa-question-circle" aria-hidden="true"></i>
  </strong>
</p>
<p class="lead">We're sorry but Bonnie can't find this page. You might have followed a bad link or mis-typed a URL.</p>
<div class="error-links">
  <a href="/" class="btn btn-lg btn-primary">Go To Dashboard</a>
  <a href="https://oncprojectracking.healthit.gov/support/projects/BONNIE" class="btn btn-lg btn-default">Report bug</a>
</div>
</div>
