<div class="modal fade msgDialog inactive-shadow" id="inactiveWarningDialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="dialog" aria-labelledby="modalTitle">

    <div class="modal-content">
      <div class="modal-header">
        <h1 id="modalTitle">Do you want to continue your session?</h1>
      </div>
      <div class="modal-body">
        <p>
          For security reasons, your session will time out in <span class="inactivityCountDown">x</span> seconds.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Continue Session</button>
      </div>
    </div>
  </div>
</div>
