<table class="table table-condensed table-bordered">
  <tr>
    <th></th>
    {{#each measures}}
      <th>{{id}}</th>
    {{/each}}
  </tr>
  {{#each patients}}
    <tr>
      <td>{{last}}, {{first}}</td>
      {{#each results}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</table>
