<div class="row measure-layout">
  <div class="measure-title-bar">
    <div class="measure-title-wide">
      <h1 class="short-title"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> {{cms_id}}
      </h1>

      <span class="actions-container">
        {{#button "showMeasure" class="btn btn-default btn-primary"}}Measure Details{{/button}}
        {{#button "showDashboard" class="btn btn-default"}}Patient Dashboard{{/button}}
      </span>
    </div>
  </div>

  {{layout-element className="measure-layout"}}
</div>
