<h2>{{id}}: {{title}}</h2>
<p>{{description}}</p>
{{#link "measures" class="btn btn-primary"}}<i class="glyphicon glyphicon-circle-arrow-left"></i> back to measures listing{{/link}}
{{view measureCalculation}}
