{{#if hasElementsWithMissingCodes}}
  <div class="alert alert-warning missing-codes-warning">
    <strong>Warning!</strong> There are patients with elements in the Patient History that do not use any codes from this measure's value sets:
    <ul>
    {{#each elementsWithMissingCodes}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
    <br/>
    Patients with these bad codes are marked below.
  </div>
{{/if}}
