<div class="modal fade" id="switchRoleConfirmationDialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog"  role="dialog" aria-labelledby="modalTitle">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="modalTitle">Confirm Role Switch</h1>
      </div>
      <div class="modal-body">
            <div class="alert alert-warning">You have unsaved changes to your patients. Are you sure you want to switch accounts? Your patient will not be saved.</div>
      </div>
      <div class="modal-footer">
        <button type="button" id="switchRoleConfirm" class="btn btn-primary">Confirm</button>
        <button type="button" id="switchRoleCancel" class="btn btn-default">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->