<div class="margin-bottom-20x" data-cy="admin-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" {{#if isUsersActive}}class="active"{{/if}}>
      {{#link "admin/users" aria-controls="users" role="tab" expand-tokens=true}}
        <span class="sr-only">Users</span>Users
      {{/link}}
    </li>
    <li role="presentation" {{#if isGroupsActive}}class="active"{{/if}}>
      {{#link "admin/groups" aria-controls="groups" role="tab" expand-tokens=true}}
        <span class="sr-only">Groups</span>Groups
      {{/link}}
    </li>
  </ul>
</div>
