.cmsLabel {
  font-size: 1em;
  font-weight: 300;
  font-color: #f2f2f2;
}

.dot {
  z-index: 0;
  stroke: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
