// Measure View - Logic/Measure Visualization

.loading-indicator {
  margin-top: 150px;
  text-align: center;
  .loading-text {
    .text-muted;
    position: relative;
    top: -75px;
    text-transform: uppercase;
    font-weight: bold;
    color: @gray-darkest;
  }
}

.right-sidebar {
  .make-sm-column(4);
  .patient-row {
    .make-sm-column(12);
    font-size: 1.6em;
    line-height: 2em;
    padding-top: 30px;
    padding-left: 50px;
  }
  .patients-title {
    .make-sm-column(12);
    .title-bar;
    margin-bottom: 10px;
    .h1-style {
      font-size: 1.8em;
      line-height: 1.75;
      margin-bottom: 0;
      margin-top: 0;
      color: black;
    }
    .fa {
      color: black;
    }
    .settings-container {
      position: absolute;
      top: 0;
      right: 15px;
    }
    .btn-settings {
      font-size: 1.8em;
      line-height: 1.75;
    }
    .patients-settings {
      visibility: hidden;
      opacity: 0;
      background-color: @gray-lighter;
      position: absolute;
      top: 4px;
      .transition(opacity 0.5s linear);
      .export-patients, .btn-measure-listing {
        .fa {
          color: @brand-primary;
        }
      }
      .share-patients, .btn-measure-listing {
        .fa {
          color: @brand-primary;
        }
      }
      .import-patients, .btn-measure-listing {
        .fa {
          color: white;
        }
      }
      .btn-measure-listing-toggled {
        .fa {
          color: white;
        }
      }

      .delete-patients {
        color: #7f1411;
        border-color: #600f0d;
        .fa {
          color: #7f1411;
          margin-right: 2px;
        }
      }
    }
    .patients-settings-expanded {
      visibility: visible;
      opacity: 1;
      right: 1.8em;
      white-space: nowrap;
    }
  }
}


.measure-title-bar {
  .make-sm-column(12);
  .measure-title-wide {
    display:table;
    width: 100%;
    .title-bar;
    padding: 0 15px;
    margin: 15px 0;
    .short-title {
      white-space: nowrap;
      font-size: 1.8em;
      line-height: 1.75;
      padding-right: .5em;
      display: table-cell;
      vertical-align: middle;
    }
    .actions-container {
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }
  }
}


.main {
  .make-sm-column(8);
  > * {
    padding: 0 15px;
  }

  .measure-title {
    // display:table;
    > div {
      display: table-cell;
      vertical-align: middle;
    }
    .title-bar;
    .fa {
      color: black;
    }
    .short-title {
      white-space: nowrap;
      font-size: 1.8em;
      line-height: 1.75;
      padding-right: .5em;
      margin-top: 0;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0.67em 0;
      color: black;
    }
    .full-title {
      font-size: 0.6em;
      font-weight: normal;
      line-height: 1;
      padding: .25em 0;
      padding-right: 1.8em;
      text-transform: none;
    }
    .settings-container {
      position: absolute;
      top: 0;
      right: 30px;
    }
    .btn-settings {
      font-size: 1.8em;
      line-height: 1.75;
    }
    .measure-settings {
      .tooltip-inner {
        max-width: 700px;
      }
      visibility: hidden;
      opacity: 0;
      background-color: @gray-lighter;
      position: absolute;
      top: 4px;
      .transition(opacity 0.5s linear);
      .btn-danger {
        .fa {
          color: @btn-danger-color;
        }
      }
      .btn-danger-inverse {
        .fa {
          color: @btn-danger-bg;
        }
      }
      .update-measure, .btn-measure-viz, .export-patients {
        .fa {
          color: @brand-primary;
        }
      }
      .btn-primary {
        .fa {
          color: white;
        }
      }
    }
    .measure-settings-expanded {
      visibility: visible;
      opacity: 1;
      right: 1.8em;
      white-space: nowrap;
    }
  }

  .measure-dsp {
    padding-top: 15px;
    padding-bottom: 30px;
    .measure-dsp-title {
      font-weight: 700;
      font-size: 1.2em;
      .popover {
        min-width: 187px;
        .popover-content {
          padding: 9px;
        }
      }
    }
    .measure-complexity {
      font-weight: 700;
      font-size: 1.2em;
      .exclamation {
        color: @grey;
        font-size: 1.5em;
      }
      .good {
        color: @green;
      }
      .popover-title {
        font-weight: 700;
        font-size: 1.2em;
      }
      .popover {
        font-weight: 400;
        font-size: 0.8em;
        max-width: inherit;
        .good, .exclamation {
          font-size: 1.2em;
        }
        .score-icons {
          padding-left: 15px;
        }
        .key-icons {
          text-align: right;
          padding-right: 15px;
        }
        td {
          white-space: nowrap;
        }
      }
    }
  }

  .measure-viz {
    padding-top: 15px;
    padding-left: 0px;
    .conjunction {
      font-weight: bold;
    }
    ul {
      padding-left: 20px;
      list-style-type: none;
      margin-bottom: 0px;
      li {
        .set-op-item {
          list-style-type: square;
        }
      }
    }
  }
}

li .set-op-item .set-op-group > ul {
  padding-left: 0; // addresses overly-nested list markup
}

.d3-measure-viz {
    .precondition {
      fill: @gray-light;
    }
    .coverage {
      fill: @brand-primary;
    }
    .eval-true {
      //for measure viz
      fill: #449d44;
    }
    .eval-false, .eval-bad-specifics {
      //for measure viz
      fill: #c9302c;
    }
  }

.logic-comment {
  font-style: italic;
  color: @gray-darker;
  font-size: 12px;
  padding: 5px 0;
}

.cql-modal {
  width: 95%;
}

.metadata-table {
  caption {
    font-weight: bold;
    text-transform: uppercase;
  }

  .metadata-row {
    width: 100%;
  }
}
