// Measure View - Logic/Measure Visualization

.right-sidebar {
  .make-sm-column(3.5);
  .patient-row {
    .make-sm-column(12);
    font-size: 1.6em;
    line-height: 2em;
    padding-top: 30px;
    padding-left: 50px;
  }
}

.main {
  .make-sm-column(8.5);
  > * {
    padding: 0 15px;
  }
  .fa {
    color: black;
  }

  .measure-title {
    .make-sm-column(12);
    .title-bar;
    .short-title {
      font-size: 1.8em;
      padding-right: 15px;
      line-height: 1.75;
    }
    .full-title {
      line-height: 1.6;
      padding-right: 2%;
    }
    .settings-btn {
      position: absolute;
      font-size: 1.8em;
      line-height: 1.75;
      border: 0;
      top: -2px;
      right: 0;
      background: transparent;
    }
    .measure-settings {
      position: absolute;
      line-height: 1.75;
      height: 100%;
      top: -2px;
      right: 30px;
      width: 0px;
      overflow: hidden;
      white-space:nowrap;
      -webkit-transition: width 0.3s linear;
      -moz-transition: width 0.3s linear;
      -ms-transition: width 0.3s linear;
      -o-transition: width 0.3s linear;
      transition: width 0.3s linear;
    }
    .measure-settings-expanded {
      width: 16%;
    }
    .measure-settings-expanded-delete {
      width: 27%;
    }
    .btn-danger {
      .fa {
        color: @btn-danger-color;
      }
    }
    .btn-danger-inverse {
      .fa {
        color: @btn-danger-bg;
      }
    }
    .delete-measure {
      margin-top: 7px;
      padding-left: 6px;
      padding-right: 6px;
    }
    .update-measure {
      margin-top: 7px;
      padding-left: 6px;
      padding-right: 6px;
      .fa {
        color: @brand-primary;
      }
    }
  }

  .measure-dsp {
    .make-sm-column(12);
    padding-top: 15px;
    padding-bottom: 30px;
    .measure-dsp-title {
      font-weight: 700;
      font-size: 1.2em;
      .popover {
        min-width: 187px;
        .popover-content {
          padding: 9px;
        }
      }
    }
  }

  .measure-viz {
    .make-sm-column(12);
    padding-top: 15px;
    padding-left: 0px;
  }
}