// Dashboard - Measures View

// For entire page
.measure-col {
  .make-xs-column(7);
  position: relative;
  .measure-title {
    .clearfix;
    a {
      .make-md-column(10; 0);
    }
    .nqf-listing {
      .make-md-column(2; 0);
    }
  }
  .btn-wrapper {
    border-left: 5px white solid;
    border-right: 5px white solid;
    line-height: 1;
    position: absolute;
    top: 0; right: 15px;
  }
  .dashboard-title {
   h1 {
    display: inline-block;
   }
   .btn-wrapper-bundle {
    .btn-wrapper;
    display: inline-block;
    right: inherit; // overrides the value from .btn-wrapper
   }
  }
}

.expected-col {
  .make-xs-column(2);
  text-align: center;
}

.status-col {
  .make-xs-column(1);
}

.patient-listing-col {
  .make-xs-column(2);
  position: relative;
  .btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}

// Just the heading
.dashboard-heading {
  > * {
    .title-bar;
    height: 2.4em;
  }

  .patient-listing-col {
    text-align: center;
  }
}

// Just the list of measures & populations
.dashboard-data {
  .measure, .population {
    min-height: 65px;
    > * {
      margin-top: 40px;
    }
  }

  .measure {
    .measure-col {
      font-weight: 800;
      .btn {
        font-size: 12px;
        padding: 7px 16px;
      }
      .measure-title {
        .title-bar;
        margin-left: -15px;
        padding: 6px 15px 7px;
        margin-right: 108px;
        .nqf-listing {
          color: gray;
          padding-left: 5px;
        }
      }

    }
  }

  .population {
    .population-col {
      .make-sm-column-offset(1);
      .make-xs-column(6);
      .population-title {
        .clearfix;
        padding: 6px 15px 7px;
        background: @gray-lighter;
        margin-right: 108px;
        .form-inline {
          display: table-row;
          div {
            display: table-cell;
            vertical-align: middle;
            white-space: nowrap;
          }
          & div:nth-child(2) {
            width: 100%;
            padding: 0 6px;
            input {
              width: 100%;
            }
          }
        }
        .edit-pop {
          background: white;
          padding: 1px 6px;
          color: @blue-darker;
          text-align: right;
          &:before {
            content: @fa-var-pencil;
            font-family: FontAwesome;
            color: inherit;
          }
          &:hover {
            background: @gray-light;
          }
        }
        .save-pop {
          .edit-pop;
          color: @state-success-text;
          &:before { content: @fa-var-check; }
        }
        .cancel-pop {
          .edit-pop;
          color: @state-danger-text;
          &:before { content: @fa-var-times; }
        }
      }
    }
  }

  .expected-col {
    margin-top: 28px;
  }

  .patient-listing-col {
    .patient-listing {
      font-size: 1.6em;
      text-align: right;
      width: 1.7em;
      display: inline-block;
    }

    .btn {
      padding: 6px 6px 5px 6px;
    }
  }
}

.vsac-registration {
  padding-left: 15px;
}

.effective-date {
  padding-left: 0;
  .effective-date-picker {
    padding-right: 0;
  }
}
