.measure-calculation {
  padding-top: 10px;

  .summary {
    > * {
      line-height: 65px;
    }

    .expected-col {
      .make-sm-column(4);
    }

    .status-col {
      .make-sm-column(3);
    }

    .patient-data-col {
      .make-sm-column(4);
      padding-right: 0;
      .patient-listing {
        line-height: 60px;
        font-size: 1.6em;
      }
      .btn {
        margin-top: 14px;
        padding: 6px;
      }
    }
  }

  .patient {
    .patient-status-icon-col {
      .make-sm-column(1);
      font-size: 1.2em;
    }
    .patient-btn-col {
      .make-sm-column(3);
    }
    .patient-name-col {
      .make-sm-column(4);
      font-size: 14px;
    }
    .patient-status-col {
      .make-sm-column(3);
      font-size: 1.2em;
    }
    .btn-danger-inverse {
      color: @btn-danger-bg;
      background-color: @btn-danger-color;
      border-color: @btn-danger-border;
    }
    .pass {
      .text-success;
    }
    .fail {
      .text-danger;
    }
    .default {
      color: @brand-primary;
    }
  }
}