.measure-history-main {
  width: 100%;
}

#measureDiff {
  padding:10px;
}

.history-circle {
  display: block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
}

.measure-history-table {
  width: auto;
  margin-top: 55px;

  thead > tr > th {
    border-top: none;
    height: 55px;
    white-space: nowrap;
  }

  tbody {
    > tr:nth-child(2n-1) > td,
    > tr:nth-child(2n-1) > th {
      border-top-width: 4px;
    }

    > tr > th.history-upload-header {
      position: relative;

      i {
        position: absolute;
        top: -.7em;
      }
    }
  }
}

th.history-patient-header div {
  transform:
    /* Magic Numbers */
    translate(-3px, -3px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;

  span {
    padding: 5px 5px;
  }
}

.history-patient-header-name {
  width: 115px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

body .modal-huge {
  width: 90%;
}

.measureUploadSummaryDialog {
  th { background-color: @gray-lighter; }
  td.status { font-size: 1.25em; }

  .table-summary {
    margin: 0 auto 25px;

    th, td {
      border: 1px @gray-light solid;
      padding: 5px 20px;
    }
    td {
      border-top-width: 4px;
      > div { padding-top: 5px; } // measure percentage view
    }
  }

  .nav-tabs ~ .tab-content {
    padding-top: 2em; // if tabs are present, add the padding
  }
}
