// Set the default color of all icons to black

// Small number in the denominator for any fraction display
.fraction {
  font-size: 0.8em;
}

.title-bar {
  background-color: @gray-lighter;
  padding-left: 15px;
}

.pass {
  .text-success;
}
.fail {
  .text-danger;
}
.default {
  color: @brand-primary;
}

// Test Status - used on Dashboard and Measure/Results View
.status {
  font-size: 1.5em;
  line-height: 1;
  text-transform: uppercase;
  padding-top: 0.25em;
  &.status-new {
    font-weight: 700;
  }
  &.status-pass {
    .text-success;
  }
  &.status-fail {
    .text-danger;
  }
  &.status-pending {
    .text-info;
  }
  &.status-coverage {
    font-size: 1em;
    .text-primary;
  }
}

.measure-viz {
  .conjunction {
    font-weight: bold;
  }
  .set-op {
    font-weight: 300;
    text-transform: uppercase;
  }
  ul {
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 0px;
    .multi-statement {
      list-style-type: circle;
      padding-left: 40px;
    }
  }
}

.btn-danger-inverse {
  .button-variant(@btn-danger-bg; @btn-danger-color; @btn-danger-border);
}

.btn-primary-inverse {
  .button-variant(@btn-primary-bg; @btn-primary-color; @btn-primary-border);
}

.transform(@string) {
  -webkit-transform: @string;
      -ms-transform: @string;
          transform: @string;
}
