body {
  padding-top: 60px;
}

textarea {
  resize: vertical;
}

tr {
  &:nth-child(even) {
    background-color: #EEE;
  }
  &:nth-child(odd) {
    background: #FFF;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

header {
  ul {
    float: right;
    list-style: none;
    font-size: 1.1em;
    padding-top: 15px;
    li {
      float: left;
      margin-left: 9px;
      &.greeting {
        color: #fff;
        font-size: 0.8em;
        padding-top: 3px;
      }
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    font-size: 0.85em;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* table styling */
.table-measure-detail {
  thead tr {background-color:$grayLighter;
    th {
      color:$gray;
      font-weight:normal;
      text-transform:uppercase;
      padding:4px 10px 2px 10px;
    }
  }
  tbody td:last-child a {white-space:nowrap;}
}

#pageButtons {
  float: right;
  margin: 3px 10px;
  form { float:right;margin:0}
  a {
    display: inline-block;
    font-size:12px
  }
}