// Displays colors according to patient results on the measure logic

.rationale {
  .eval-true, .eval-false, .eval-bad-specifics {
    font-weight: 500;
    padding: 2px;
  }
  .eval-true {
    background-color: @state-success-bg;
    color: @state-success-text;
    &:before {
      content: @fa-var-check;
      font-family: FontAwesome;
    }
  }
  .eval-false {
    background-color: @state-danger-bg;
    color: @state-danger-text;
    &:before {
      content: @fa-var-times;
      font-family: FontAwesome;
    }
  }
  .eval-bad-specifics {
    background-color: @state-danger-bg;
    color: @state-danger-text;
    &:before {
      content: @fa-var-asterisk;
      font-family: FontAwesome;
    }
  }
}
