@blue-lighter: #3391D0;
@blue-lightest: #99C8E7;

@btn-hover: #005893;

@state-success-text: #20744c;
@state-success-bg: #ccebe0;

@state-warning-text: #986928;
@state-warning-bg: #fff7ee;

@state-danger-text: #a63b12;
@state-danger-bg: #edd8d0;

