<td><input type="text" class="form-control" name="email"></td>
<td></td>
<td class="centered">{{measure_count}}</td>
<td class="centered">{{patient_count}}</td>
<td class="centered"><input type="checkbox" name="admin"></td>
<td class="centered"><input type="checkbox" name="portfolio"></td>
<td class="centered"><input type="checkbox" name="dashboard"></td>
<td class="centered check">{{#if approved}}<i class="fa fa-check" aria-hidden="true"></i><span class="sr-only">Approved</span>{{/if}}</td>
<td></td>
<td>{{#button "cancel" class="btn btn-default"}}Cancel{{/button}}</td>
<td>{{#button "save" class="btn btn-primary"}}Save{{/button}}</td>
<td></td>
