<div class="modal fade user-group-edit-dialog" id="group_edit_dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog"  role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Edit Group</h1>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter group name">
        </div>
        <div class="form-group">
          {{view displayGroupUsersView}}
        </div>
        <div class="form-group">
          <label for="email">Add new members (by email)</label>
          <div class="add-panel">
            <input type="email" class="form-control" id="email" name="email" placeholder="User email address">
            <span id="error-message" class="error-message">Not a valid user.</span>
          </div>
          <div>
            <button type="button" id="addUser" class="btn btn-primary">Add</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="save_group" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
