<div class="dashboard-heading row">
    <div class="measure-col">
       <h1> <i class="glyphicon glyphicon-user"></i> Users</h1>      
    </div>
</div>

{{#collection collection}}
    <div class="measure-row">
        <div class="measure-col">
            <p>{{email}}
                {{#if admin}}
                    - Admininstrator
                {{/if}}
            </p>  

        </div>
    </div>
{{/collection}}
   
