{{view userSummaryView}}

Sort by: <select name="users_sort_list" class="users-sort-list">
  <option value="approved">Approval Status</option>
  <option value="email">Email Address</option>
  <option value="measure_count">Measure Count</option>
  <option value="patient_count">Patient Count</option>
</select>

<table class="table table-striped table-hover">
  {{view tableHeaderView}}
  {{collection item-view="User" tag="tbody"}}
</table>

{{#button "emailAllUsers" class="btn btn-primary"}}Email all users{{/button}}
