<h1>I'm a dashboard user! <small>Complexity</small></h1>
{{#button 'switchGrid' class="btn btn-default switch switch-grid"}}GRID{{/button}}
{{#button 'switchGraph' class="btn btn-primary switch switch-graph"}}GRAPH{{/button}}
<div id="chart" x="100%" y="75%"></div>
