<h1>I'm a dashboard user! <small>Size</small></h1>
{{#button 'sortByLargest' class="btn btn-default sort sort-largest"}}Largest{{/button}}
{{#button 'sortByMostChange' class="btn btn-primary sort sort-change"}}Most Change{{/button}}
<div class="legend">
  <div class="added-key"><div class="legend-box added-box"/> added lines</div>
  <div class="deleted-key"><div class="legend-box deleted-box"/> removed lines</div> 
</div>
<div id="size-grid"></div>
