<div class="matrix"></div>
<script>
  $(document).ready(function() {
    var view = new Thorax.Views['matrix']({ measures: measures, patients: patients });
    view.appendTo('.matrix');
  });
</script>
