<h1>
Measures List landing page...
</h1>

<!-- START Nav Tabs -->
<div id="tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tabs-0" data-toggle="tab">My Measures</a></li>
		<li><a href="#tabs-1" data-toggle="tab">All Published Measures</a></li>
	</ul>

	<!-- START Measures List content -->
	<div class="tab-content">
	<div id="tabs-0", class="tab-pane active">
		<table class="table">
			<thead>
				<tr>
					<th>NQF</th>
					<th>Title</th>
					<th>Version</th>
					<th>Status</th>
					<th>Date</th>
					<th style="width:10em">Actions</th>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'measure', :collection => Array.new(5){ |i| (i+1).to_s } %>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td colspan="5">Total measures: <%= Array.new(5).length %></td>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- END Measures List content -->

	<div id="tabs-1" class="tab-pane">
		<table class="table">
			<thead>
				<tr>
					<th>NQF</th>
					<th>Title</th>
					<th>Version</th>
					<th>Status</th>
					<th>Date</th>
					<th style="width:10em">Actions</th>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => 'measure', :collection => Array.new(7){ |i| (i+1).to_s } %>
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td colspan="5">Total measures: <%= Array.new(7).length %></td>
				</tr>
			</tfoot>
		</table>
	</div>

</div>
<!-- END Nav Tabs -->