<div class="error-links">
  <%= link_to 'Go To Dashboard', root_path, class: 'btn btn-lg btn-primary' %>
  <a href="http://oncprojectracking.healthit.gov" class="btn btn-lg btn-default">Report bug</a>
</div>
