<div class="navbar row" role="navigation">
  <div class="navbar-brand">
    <a href="/#">Bonnie</a>
  </div>
  <ul class="nav navbar-nav pull-right">

    <% if current_page?(controller: 'home', action: 'index') %>
      <li class="nav-dashboard active"><a href="/#"><i class="fa fa-bolt" aria-hidden="true"></i> Dashboard</a></li>
    <% else %>
      <li><a href="/#"><i class="fa fa-bolt" aria-hidden="true"></i> Dashboard</a></li>
    <% end %>

    <% if current_user.is_dashboard? %>
      <li class="nav-complexity">
        <a href="/#complexity"><i class="fa fa-warning" aria-hidden="true"></i> Complexity</a>
      </li>
    <% end %>

    <% if current_page?(controller: 'registrations', action: 'edit') %>
      <li class="nav-account active"><a href="/users/edit"><i class="fa fa-magic" aria-hidden="true"></i> Account</a></li>
    <% else %>
      <li><a href="/users/edit"><i class="fa fa-magic" aria-hidden="true"></i> Account</a></li>
    <% end %>

    <% if (current_user.is_admin?)%><li class="nav-admin"><a href="/#admin/users"><i class="fa fa-gears" aria-hidden="true"></i> Admin</a></li><% end %>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="">
         <i class="fa fa-question-circle" aria-hidden="true"></i> Help <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="mailto:bonnie-feedback-list@lists.mitre.org">Contact</a></li>
        <li><a href="http://jira.oncprojectracking.org/browse/BONNIE">Issue Tracker</a></li>
        <li><%= link_to 'User Guide', '/resource/Bonnie_user_guide.pdf' %></li>
      </ul>
    </li>

    <li><%= link_to '<i class="fa fa-sign-out"></i> Logout'.html_safe, destroy_user_session_path, :method => :delete %></li>

  </ul>
</div>

<div class="navbar row breadcrumb-container"></div>
