<div class="navbar row" role="navigation">
  <ul class="nav navbar-nav pull-right">
    <li class="active"><a href="#">Measures</a></li>
    <li><a href="/users/edit">Account</a></li>
    <li><a href="mailto:bonnie-feedback-list@lists.mitre.org">Contact</a></li>
    <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
  </ul>
  <a class="navbar-brand" href="#">Bonnie</a>
  <div class="measure-period">
    <label>
      <i class="fa fa-tasks"></i> measure period:
    </label>
    <span class="year"><%= Time.zone.at(APP_CONFIG['measure_period_start']).year %></span>
  </div>

</div>
