<% account_info = request.env['PATH_INFO'].starts_with?('/users') %>
<div class="navbar row" role="navigation">
  <div class="navbar-brand">
    <a <% unless account_info %>href="#"<% else %>href="/#"<% end %>>Bonnie</a>
  </div>
  <ul class="nav navbar-nav pull-right">
    <li <% unless account_info %>class="nav-dashboard active"<% end %>>
      <a <% unless account_info %>href="#"<% else %>href="/#"<% end %>>Dashboard</a>
    </li>
    <li <% if account_info %>class="active"<% end %>><a href="/users/edit">Account</a></li>
    <% if (current_user.is_admin?)%><li><a href="/#admin/users">Admin</a></li><% end %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="">
        Help <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="mailto:bonnie-feedback-list@lists.mitre.org">Contact</a></li>
        <li><a href="http://jira.oncprojectracking.org/browse/BONNIE">Issue Tracker</a></li>
        <li><%= link_to 'User Guide', '/resource/Bonnie_user_guide.pdf' %></li>
      </ul>
    </li>
    <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
  </ul>
</div>
<div class="navbar row">
  <% unless account_info %>
  <div class="col-md-4">
    <span class="measure-period">
      <i class="fa fa-tasks"></i> measure period:
      <span class="year"><%= Time.zone.at(APP_CONFIG['measure_period_start']).year %></span>
    </span>
  </div>
  <div class="col-md-8">
    <div class="indicator">
      <div class="indicator-circle indicator-dashboard "></div>
      <div class="indicator-bar "></div>
      <div class="indicator-circle indicator-patient-builder"></div>
      <div class="indicator-bar"></div>
      <div class="indicator-circle indicator-results"></div>
    </div>
  </div>
  <% end %>
</div>
