<!--[if lte IE 8]>
<div class="alert alert-danger ie8-alert">
  Your web browser (IE8 or older) is not supported. Please <a href="http://www.updateyourbrowser.net/">update your browser</a> to continue using Bonnie..
</div>
<![endif]-->