<center>
<p class="redirect-msg">
  This version of Bonnie supports CQL 1.2, QDM 5.3 Based measures.<br/>
  For CQL 1.3, QDM 5.4 Based measures, please use <a href="https://bonnie.healthit.gov">Bonnie</a>.
  For QDM-Logic Based measures, please use <a href="https://bonnie-qdm.healthit.gov">Bonnie-QDM</a>.
</p>
</center>