<center>
<p class="redirect-msg">
  This version of Bonnie supports CQL 1.5, QDM 5.6 Based measures.<br/>
  For CQL 1.4, QDM 5.5 Based measures, please use <a href="https://bonnie-prior.healthit.gov">Bonnie-Prior</a>.
</p>
</center>
