<p class="redirect-msg">This version of Bonnie does not support measures with QDM logic. <a href="https://bonnie-prior.healthit.gov">Click here</a> to access Bonnie-Prior, which does support QDM-Logic Based measures.</p>
