<div class="center">
  <p class="redirect-msg">
    This version of Bonnie supports CQL 1.4, QDM 5.5 Based measures.<br/>
    For CQL 1.5, QDM 5.6 Based measures, please use <a href="https://bonnie.healthit.gov">Bonnie v5.x</a><br/>
    For CQL 1.5, FHIR R4 Based measures, please use <a href="https://bonnie-fhir.healthit.gov">Bonnie v6.x</a>
  </p>
</div>
