<div class="alert alert-danger"><p style="text-align: center;"><span style="font-size: 13.9pt;">
  <strong>Bonnie-QDM will be replaced by Bonnie-CQL on June 1, 2019.</strong> For more information, read the <a><%= link_to 'Bonnie-QDM Retirement Document', '/resource/Bonnie_v1_retirement.pdf' %></a>.
</div>